<section id="citation-saver-main">
    <h3 class="accessibility"><%= t('services-citation-saver.accessibility') %></h3>
    <img id="logo-citation-saver" class="image-width" src="/img/CitationSaver.svg" alt="CitationSaver">
    <h4 id="citation-saver-slogan"><%= t('services-citation-saver.slogan') %></h4>

    <p style="margin-top: 20px;"><%- t('services-citation-saver.description.1') %></p>
    <p><%- t('services-citation-saver.description.2') %> <a class="learn-more" href="<%- t('services-citation-saver.learn-more.href') %>"><%- t('services-citation-saver.learn-more.text') %></a></p>
    <p><%- t('services-citation-saver.description.3') %></p>

    <div class="citation-saver-input-selection">
        <input type="radio" name="input-selection" id="input-url" checked="checked">
        <label for="input-url"><%- t('services-citation-saver.tab.1') %></label>
        <div class="input-tab">
            <form action="/services/citationsaver" method="post">
                <label for="input-url-url"><%- t('services-citation-saver.url') %></label>
                <input type="text" name="url" id="input-url-url">
                <small><%- t('services-citation-saver.field.1') %></small>

                <label for="input-url-email"><%- t('services-citation-saver.field.2') %></label>
                <input type="text" name="email" id="input-url-email">

                <button type="submit"><%- t('services-citation-saver.button') %></button>
            </form>
        </div>
        <input type="radio" name="input-selection" id="input-file-upload">
        <label for="input-file-upload"><%- t('services-citation-saver.tab.2') %></label>
        <div class="input-tab">
            <form action="/services/citationsaver" method="post" enctype="multipart/form-data">
                
                <label for="input-file-file"><%- t('services-citation-saver.upload') %></label>
                <div id="input-file-selector">
                    <button id="input-file-button" class="button" type="button"><%- t('services-citation-saver.upload-selection.button') %></button>
                    <span id="input-file-text"><%- t('services-citation-saver.upload-selection.default-text') %></span>
                </div>
                <div style='height: 0px;width:0px; overflow:hidden;'>            
                    <input type="file" name="file" id="input-file-file" style="visibility:hidden">
                </div>
                <!-- here you can have file submit button or you can write a simple script to upload the file automatically-->
                <small><%- t('services-citation-saver.field.1') %></small>


                <label for="input-file-email"><%- t('services-citation-saver.field.2') %></label>
                <input type="text" name="email" id="input-file-email">

                <button type="submit"><%- t('services-citation-saver.button') %></button>
            </form>
        </div>

        <input type="radio" name="input-selection" id="input-text">
        <label for="input-text"><%- t('services-citation-saver.tab.3') %></label>
        <div class="input-tab">
            <form action="/services/citationsaver" method="post">
                <label for="input-text-text"><%- t('services-citation-saver.text') %></label>
                <textarea id="input-text-text" name="text"></textarea>


                <label for="input-text-email"><%- t('services-citation-saver.field.2') %></label>
                <input type="text" name="email" id="input-text-email">

                <button type="submit"><%- t('services-citation-saver.button') %></button>
            </form>
        </div>
    </div>

    <div id="modal" style="display:none">
        <section id="citation-saver-progress-bar">
            <%- include("../fragments/preloader") -%>
        </section>
        <section id="citation-saver-modal">
          <h3><%= t('services-citation-saver.popup.accessibility') %></h3>
          <img id="logo-citation-saver-modal" class="image-width" src="/img/CitationSaver.svg" alt="CitationSaver">
    
          <p class="text"><%= t('services-citation-saver.popup.text') %></p>
          <p class="error" style="display:none"></p>
          <form action="/services/citationsaver">
            <button type="submit"><%= t('services-citation-saver.popup.button') %></button>
            <input type="hidden" name="l" value="<%- getLanguage() %>">
          </form>
        </section>
      </div>

</section>