<!-- starts pages advanced search form container -->
<section class="form-container">
    <h3><%= t('advanced-page-search.accessibility.title') %></h3>
<!-- starts pages advanced search -->
<form id="advanced-search-form-pages" class="advanced-search-form" action="/page/search" method="GET">
<fieldset>
  <legend><%= t('advanced-page-search.accessibility.legend') %></legend>
  
  <!-- Between these dates -->
  <label><%- t('advanced-page-search.fieldset.date.label') %></label>
  <!-- starts range slider block --> 
  <%- include('../fragments/search-tools-date-slider') %>
  <!-- ends range slider block -->  

  <!-- With these words -->
   <label for="adv_and"><%- t('advanced-page-search.fieldset.with.label') %></label>
   <input id="words" type="text" name="adv_and">
   <small><%- t('advanced-page-search.fieldset.with.example') %></small>
   
   <!-- With this phrase -->
   <label for="adv_phr"><%- t('advanced-page-search.fieldset.phrase.label') %></label>
   <input id="phrase" type="text" name="adv_phr">
   <small><%- t('advanced-page-search.fieldset.phrase.example') %></small>
   
   <!-- Any of these words -->
   <label for="adv_not"><%- t('advanced-page-search.fieldset.without.label') %></label>
   <input id="without" type="text" name="adv_not">
   <small><%- t('advanced-page-search.fieldset.without.example') %></small>   
   
   <!-- Formats -->
   <label for="format"><%- t('advanced-page-search.fieldset.format.label') %></label>
   <select id="format-type" name="format" class="">
    <option value="all" selected><%- t('advanced-page-search.fieldset.format.option.all') %></option>
    <option value="pdf">Adobe PDF (.pdf)</option>
    <option value="ps">Adobe PostScript (.ps)</option>
    <option value="html">HTML (.htm, .html)</option>
    <option value="xls">Microsoft Excel (.xls)</option>
    <option value="ppt">Microsoft PowerPoint (.ppt)</option>
    <option value="doc">Microsoft Word (.doc)</option>
    <option value="rtf">Rich Text Format (.rtf)</option>
   </select>  
   
   <!-- Website -->
   <label for="website"><%- t('advanced-page-search.fieldset.website.label') %></label>
   <input id="website" type="text" name="website">
   <small><%- t('advanced-page-search.fieldset.website.example') %></small>

   <!-- Number of results: pages -->
   <label for="number-of-results-pages"><%- t('advanced-page-search.fieldset.results.label') %></label>
   <select id="number-of-results-pages" name="maxItems" class="">
   <option selected>10</option>
    <option>20</option>
    <option>30</option>
    <option>50</option>
    <option>100</option>
    <option>500</option>
    <option>1000</option>
    <option>2000</option> 
  </select> 

  <!-- starts advanced search navigation -->
  <section class="navigation-tools">
    <h3>Pages advanced search navigation</h3> 
    <button type="submit" class="search-form-advanced-button" value="Advanced Search">Search &rarr;</button>
  </section> 
  <!-- ends advanced search navigation -->
   
</fieldset>   
</form>
<!-- ends pages advanced search -->
</section>
<!-- ends pages advanced search form container -->
    
  