<!-- starts pages search results: create a fetch loop here -->
<section id="pages-results" class="pages-results-cl">
    <% if (apiData.response_items.length == 0) { %>
        <%- include("body-not-found", {query: apiData.request_parameters.q}) -%>
    <% } else { %>
        
        <h3>Pages Search Results</h3>    
        <p id="estimated-results"><span id="estimated-results-value">About <%= apiData.estimated_nr_results %></span> results from <%= apiData.request_parameters.from.slice(0,4) %> to <%= apiData.request_parameters.to.slice(0,4) %></p></li>

        <% apiData.response_items.forEach((element,index) => { %>
            <!-- starts result <%= (index+1) %> -->
            <%- include("../fragments/page-result",{pageData: element, index:index, prevUrl: index==0? null : apiData.response_items[index-1].originalURL}) -%>
            <!-- ends result <%= (index+1) %> -->

        <% }); %>
        <!-- starts navigation tools --> 
        <section class="navigation-tools">
            <h3>Images navigation</h3>
            <button type="submit" class="previous-page" aria-hidden="true" value="previous page">&larr;</button>
            <p>Page 1 of 100</p>
            <button type="submit" class="next-page" aria-hidden="true" value="next page">&rarr;</button>
        </section>
        <!-- ends navigation tools -->
    
    <% } %>
</section>
<!-- ends pages search results -->