<!-- starts replay content -->
<iframe id="replay-in-iframe" name="replay-page" title="replay page"
    src="<%- config.get('noFrame.replay.url') + '/' +requestedPage.fullUrl %>">
    <h1>iframe content</h1>
</iframe>
<script src="/js/replay.js"></script>
<script>
    const arquivoReplay = new ArquivoReplay({
        "noFrame.replay.url": "<%- config.get('noFrame.replay.url') %>",
        "requestedPage.fullUrl": "<%- requestedPage.fullUrl %>",
        "screenshot.url": "<%- config.get('screenshot.url') %>",
        "requestedPage.url": "<%- requestedPage.url %>",
        "requestedPage.timestamp": "<%- requestedPage.timestamp %>",
        "preservedByArquivo": "<%= t('wayback.title.preserved-by-arquivo'); %>",
        "loader.html": `<%- include('../fragments/preloader'); %>`,
    });

</script>
<!-- ends replay content -->