<% 
let values = {
  adv_and: '',
  adv_phr: '',
  adv_not: '',
  type: 'all',
  siteSearch: '',
  maxItems: '',
}

let checkTypeFor = function(type){
  return (values.type == 'all' || values.type.split(',').some(x => x==type)) ? 'checked' : '';
}
let selectMaxItemsFor = function(n){
  return (n == values.maxItems) ? 'selected' : '';
}
if(typeof requestData != 'undefined'){
  Object.keys(values)
    .filter(key => requestData.has(key))
    .forEach(key => {
      values[key] = requestData.get(key);
    });
}

%> 

<!-- starts pages advanced search form container -->
<section class="form-container">
    <h3><%= t('advanced-page-search.accessibility.title') %></h3>
<!-- starts pages advanced search -->
<form id="advanced-search-form-pages" class="advanced-search-form" action="/page/search" method="GET">
<fieldset>
  <legend><%= t('advanced-page-search.accessibility.legend') %></legend>
  
  <!-- With these words -->
   <label for="adv_and"><%- t('advanced-page-search.fieldset.with.label') %></label>
   <input id="words" type="text" name="adv_and" value="<%= values.adv_and %>">
   <small><%- t('advanced-page-search.fieldset.with.example') %></small>
   
   <!-- With this phrase -->
   <label for="adv_phr"><%- t('advanced-page-search.fieldset.phrase.label') %></label>
   <input id="phrase" type="text" name="adv_phr" value="<%= values.adv_phr %>">
   <small><%- t('advanced-page-search.fieldset.phrase.example') %></small>
   
   <!-- Any of these words -->
   <label for="adv_not"><%- t('advanced-page-search.fieldset.without.label') %></label>
   <input id="without" type="text" name="adv_not" value="<%= values.adv_not %>">
   <small><%- t('advanced-page-search.fieldset.without.example') %></small>   
   
  <!-- Between these dates -->
  <label><%- t('advanced-page-search.fieldset.date.label') %></label>
  <!-- starts range slider block --> 
  <%- include('../fragments/search-tools-date-slider') %>
  <!-- ends range slider block -->  

  <!-- Formats -->
  <label for="format"><%- t('advanced-page-search.fieldset.format.label') %></label>
  <input type="hidden" name="format">
  <table id="table-format">
    <tbody>
      <tr>
        <td><input type="checkbox" format="all" <%= checkTypeFor('all') %>></td>
        <td><label><strong><%- t('advanced-page-search.fieldset.format.option.all') %></strong></label></td>

        <td><input type="checkbox" format="xls" <%= checkTypeFor('xls') %>></td>
        <td><label>Microsoft Excel (.xls)</label></td>
      </tr>
      <tr>
        <td><input type="checkbox" format="ppt" <%= checkTypeFor('ppt') %>></td>
        <td><label>Microsoft PowerPoint (.ppt)</label></td>

        <td><input type="checkbox" format="pdf" <%= checkTypeFor('pdf') %>></td>
        <td><label>Adobe PDF (.pdf)</label></td>
      </tr>
      <tr>
        <td><input type="checkbox" format="doc" <%= checkTypeFor('doc') %>></td>
        <td><label>Microsoft Word (.doc)</label></td>

        <td><input type="checkbox" format="ps" <%= checkTypeFor('ps') %>></td>
        <td><label>Adobe PostScript (.ps)</label></td>
      </tr>
      <tr>
        <td><input type="checkbox" format="html" <%= checkTypeFor('html') %>></td>
        <td><label>HTML (.htm, .html)</label></td>
        
        <td><input type="checkbox" format="rtf" <%= checkTypeFor('rtf') %>></td>
        <td><label>Rich Text Format (.rtf)</label></td>
      </tr>
    </tbody>
  </table>
  <!-- Website -->
  <label for="website"><%- t('advanced-page-search.fieldset.website.label') %></label>
  <input id="website" type="text" name="siteSearch" value="<%= values.siteSearch %>">
  <small><%- t('advanced-page-search.fieldset.website.example') %></small>

  <!-- Number of results: pages -->
  <label for="number-of-results-pages"><%- t('advanced-page-search.fieldset.results.label') %></label>
  <select id="number-of-results-pages" name="maxItems" class="">
    <option value="10" <%= selectMaxItemsFor(10) %>>10</option>
    <option value="20" <%= selectMaxItemsFor(20) %>>20</option>
    <option value="30" <%= selectMaxItemsFor(30) %>>30</option>
    <option value="50" <%= selectMaxItemsFor(50) %>>50</option>
    <option value="100" <%= selectMaxItemsFor(100) %>>100</option>
    <option value="500" <%= selectMaxItemsFor(500) %>>500</option>
    <option value="1000" <%= selectMaxItemsFor(1000) %>>1000</option>
    <option value="2000" <%= selectMaxItemsFor(2000) %>>2000</option> 
  </select> 

  <!-- starts advanced search navigation -->
  <section class="navigation-tools">
    <h3>Pages advanced search navigation</h3> 
    <button type="submit" class="search-form-advanced-button" value="Advanced Search"><%- t('advanced-page-search.fieldset.search') %> &rarr;</button>
  </section> 
  <!-- ends advanced search navigation -->
   
</fieldset>   
</form>
<!-- ends pages advanced search -->
</section>
<!-- ends pages advanced search form container -->
    
  