<% 
let values = {
  adv_and: '',
  adv_phr: '',
  adv_not: '',
  type: 'all',
  size: 'all',
  safeSearch: 'on',
  siteSearch: '',
}

let selectFor = function(key,value){
  return (value == values[key]) ? 'selected' : '';
}
if(typeof requestData != 'undefined'){
  Object.keys(values)
    .filter(key => requestData.has(key))
    .forEach(key => {
      values[key] = requestData.get(key);
    });
}

%> 

<!-- starts image advanced search form container -->
<section class="form-container">
    <h3><%= t('advanced-image-search.accessibility.title') %></h3>
<!-- starts pages advanced search -->
<form id="advanced-search-form-images" class="advanced-search-form" action="/image/search" method="GET">
<fieldset>
  <legend><%= t('advanced-image-search.accessibility.legend') %></legend> 
   <!-- With these words -->
   <label for="adv_and"><%- t('advanced-image-search.fieldset.with.label') %></label>
   <input type="text" name="adv_and" value=<%= values.adv_and %>>
   <small><%= t('advanced-image-search.fieldset.with.example') %></small>
   <!-- With this phrase -->
   <label for="adv_phr"><%- t('advanced-image-search.fieldset.phrase.label') %></label>
   <input type="text" name="adv_phr" value=<%= values.adv_phr %>>
   <small><%= t('advanced-image-search.fieldset.phrase.example') %></small>
   <!-- Any of these words -->
   <label for="adv_not"><%- t('advanced-image-search.fieldset.without.label') %></label>
   <input type="text" name="adv_not" value=<%= values.adv_not %>>
   <small><%= t('advanced-image-search.fieldset.without.example') %></small>   
   <!-- Between these dates -->
  <label><%- t('advanced-image-search.fieldset.date.label') %></label> 
  <%- include('../fragments/search-tools-date-slider') %>
   <!-- Formats -->
   <label for="type"><%- t('advanced-image-search.fieldset.format.label') %></label>
   <select id="format-type" name="type" class="">
    <option value="all" <%= selectFor('type','all') %>><%= t('advanced-image-search.fieldset.format.option.all') %></option>
    <option value="jpg" <%= selectFor('type','jpg') %>>Joint Photographic Experts Group (.jpg)</option>
    <option value="png" <%= selectFor('type','png') %>>Portable Network Graphics (.png)</option>
    <option value="gif" <%= selectFor('type','gif') %>>Graphics Interchange Format (.gif)</option>
    <option value="bmp" <%= selectFor('type','bmp') %>>Bitmap Image File (.bmp)</option>
    <option value="webp" <%= selectFor('type','webp') %>>WEBP (.webp)</option>
   </select>  
   <!-- words -->
   <label for="size"><%- t('advanced-image-search.fieldset.size.label') %></label>
    <select id="image-size" name="size" class="">
     <option value="all" <%= selectFor('size','all') %>><%= t('advanced-image-search.fieldset.size.option.all') %></option>
     <option value="sm" <%= selectFor('size','sm') %>><%= t('advanced-image-search.fieldset.size.option.small') %></option>
     <option value="md" <%= selectFor('size','md') %>><%= t('advanced-image-search.fieldset.size.option.medium') %></option>
     <option value="lg" <%= selectFor('size','lg') %>><%= t('advanced-image-search.fieldset.size.option.large') %></option>
    </select>  
   <!-- words -->
   <label for="safeSearch"><%- t('advanced-image-search.fieldset.safeSearch.label') %></label>
   <select id="safeSearch" name="safeSearch" class="">
    <option value="on" <%= selectFor('safeSearch','on') %>><%= t('advanced-image-search.fieldset.safeSearch.option.remove-explicit') %></option>
    <option value="off" <%= selectFor('safeSearch','off') %>><%= t('advanced-image-search.fieldset.safeSearch.option.all') %></option>
   </select>  

   <label for="siteSearch"><%- t('advanced-image-search.fieldset.website.label') %></label>
   <input id="website" type="text" name="siteSearch" value=<%= values.siteSearch %>>
   <small class="last-margin"><%= t('advanced-image-search.fieldset.website.example') %></small> 
    
  <!-- starts advanced search navigation -->
  <section class="navigation-tools">
    <h3>Pages advanced search navigation</h3> 
    <button type="submit" class="search-form-advanced-button" value="Advanced Search"><%= t('advanced-image-search.fieldset.search') %> &rarr;</button>
  </section> 
  <!-- ends advanced search navigation -->
</fieldset>      
</form>
<!-- ends pages advanced search -->
</section>
<!-- ends image advanced search form container -->