<% if ('suggestion' != 'suggestion') { %>
    <%- include("../templates/fragments/search-suggestion") -%>
<% } %>

<% if (1 == 0) { %>
    <%- include("../templates/body/body-not-found", {query: apiData.request_parameters.q}) -%>
<% } else { %>
    
    <!-- starts pages search results: create a fetch loop here -->

    <p id="estimated-results"><%= t('common.estimated-results',{
        numResults:(''+apiData.totalItems).replace(/\B(?=(\d{3})+(?!\d))/g,"."),
        from: requestData.get('from').slice(0,4),
        to: requestData.get('to').slice(0,4)
    }) %></p>

    <!-- starts result #1 -->
    <ul>
        <% apiData.responseItems.forEach(item => { %>
            <%- include("../templates/fragments/image-result", {imageData: item}) -%>
        <% }); %>
    </ul>
    <!-- starts navigation tools --> 
    <section class="navigation-tools">
        <h3>Images navigation</h3>
        <button type="submit" class="previous-page" aria-hidden="true" value="previous page">&larr;</button>
        <p>Page 1 of 100</p>
        <button type="submit" class="next-page" aria-hidden="true" value="next page">&rarr;</button>
    </section>
    <!-- ends navigation tools -->
<!-- ends pages search results -->

    <% if (typeof exportObject != 'undefined'){ %>
        <!-- starts the result hidden in json format  -->
        <% let exportJson = JSON.stringify(exportObject)
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;"); %>
        <div style="display:none" id="options-export-json"><%- exportJson %></div> 
        <!-- ends the results in json format -->
    <% } %>

    <!-- starts navigation tools --> 
    <%# include("../templates/fragments/navigation-tools") -%>            
    <!-- ends navigation tools -->

<% } %>