

<% if (apiData.totalItems == 0) { %>
    <%- include("../templates/body/body-not-found", {
    query: requestData.get('q'), 
    suggestion: suggestion,
    searchType: 'image-search',
  }) -%>
<% } else { %>

    <% if (suggestion != requestData.get('q')) { %>
        <%- include("../templates/fragments/search-suggestion", {
            suggestionType: 'image'
        }) -%>
    <% } %>

    <!-- starts pages search results: create a fetch loop here -->

    <%- include("../templates/fragments/search-estimated-results", {
        numResults:(''+apiData.totalItems).replace(/\B(?=(\d{3})+(?!\d))/g,"."),
        from: requestData.get('from').slice(0,4),
        to: requestData.get('to').slice(0,4)
    }) %>

    <!-- starts result #1 -->
    <ul id="image-cards-container">
        <% apiData.responseItems.forEach((item,i) => { %>
            <%- include("../templates/fragments/image-result", {imageData: {...item, index:(i+1)}}) -%>
        <% }); %>
    </ul>
    <!-- ends pages search results -->

    <% if (typeof exportObject != 'undefined'){ %>
        <!-- starts the result hidden in json format  -->
        <% let exportJson = JSON.stringify(exportObject)
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;"); %>
        <div style="display:none" id="options-export-json"><%- exportJson %></div> 
        <!-- ends the results in json format -->
    <% } %>

    <!-- starts navigation tools --> 
    <%- include("../templates/fragments/navigation-tools", {estimatedResults: apiData.totalItems, searchType:'images'}) -%>            
    <!-- ends navigation tools -->

<% } %>