<section class="modal-image-details-container">
  
  <a href="javascript:void(0)" rel="modal:close"><button class="close cancel"><i class="fa fa-close"></i></button></a>
  <a href="javascript:void(0)" id="close-modal-tecnhical" onclick="closeImageDetailsModalWindow()"><button class="close cancel"><i class="fa fa-close"></i></button></a>
  <button id="previous-image-button" class="image-navigation-button"><span class="fas fa-chevron-left"
      aria-hidden="true"></span></button>
  <button id="next-image-button" class="image-navigation-button"><span class="fas fa-chevron-right"
      aria-hidden="true"></span></button>

  <!-- starts image container -->
  <section class="image-container">
    <img class="image-display" src="/img/lisboa-image-details-01.jpg" alt="Electrico de Lisboa">
  </section>
  <!-- ends image container -->

  <!-- ends gradient image effect when scrolling modal: technical details: top -->
  <section class="image-details-navigation">
    <h4><%= t('modal-image-details.accessibility.image-details-navigation') %></h4>
    <form id="view-image-website" action="https://hotel-mix.de/hotels/portugal/lisbon">
      <button type="submit" id="image-website-url-button" class="button" value="visit image website"><span
          class="fas fa-eye" aria-hidden="true"></span><%= t('modal-image-details.buttons.visit') %></button>
    </form>
    <form id="jump-to-image-details" action="javascript:void(0)">
      <button type="submit" id="image-details-button" class="button" value="image technical details"
        onclick="openImageDetailsModalWindow()"><span class="fas fa-info-circle"
          aria-hidden="true"></span><%= t('modal-image-details.buttons.details') %></button>
    </form>
  </section>
  <section class="image-details-description">
    <h4><%= t('modal-image-details.accessibility.image-details-description') %></h4>

    <!-- starts image info -->
    <h5 class="image-description-heading"><%= t('modal-image-details.titles.image') %></h5>
    <div class="modal-image-field">
      <p class="image-description-title"><%= t('modal-image-details.labels.image-title') %><a class="image-title image-modal-content"></a></p>
    </div>
    <div class="modal-image-field">
      <p class="image-description-alt"><%= t('modal-image-details.labels.alt-text') %><span class="image-alt image-modal-content"> </span></p>
    </div>
    <div class="modal-image-field">
      <p class="image-description-original-address"><%= t('modal-image-details.labels.image-original-address') %><span class="image-original-address image-modal-content"> </span></p>
    </div>
    <div class="modal-image-field">
      <p class="image-description-date"><%= t('modal-image-details.labels.timestamp') %><span class="date image-modal-content">12 March at 00:15 - 2021.</span></p>
    </div>
    <div class="modal-image-field">
      <p class="image-description-resolution"><%= t('modal-image-details.labels.resolution') %><span class="width image-modal-content"></span><span class="image-modal-content" style="padding:0">x</span><span class="height image-modal-content"></span></p>
    </div>
    <div class="modal-image-field">
      <p class="image-description-mimetype"><%= t('modal-image-details.labels.mimetype') %><span class="mimetype image-modal-content"></span></p>
    </div>
    <!-- ends image info-->

    <!--starts image page info -->
    <h5 class="image-description-heading"><%= t('modal-image-details.titles.page') %></h5>
    <div class="modal-image-field">
      <p class="page-description-title"><%= t('modal-image-details.labels.page-title') %><a class="page-title image-modal-content"> </a></p>
    </div>
    <div class="modal-image-field">
      <p class="page-description-original-address"><%= t('modal-image-details.labels.page-original-address') %><span class="page-original-address image-modal-content"> </span></p>
    </div>
    <div class="modal-image-field">
      <p class="page-description-date"><%= t('modal-image-details.labels.timestamp') %><span class="date image-modal-content">12 March at 00:15 - 2021.</span></p>
    </div>
    <!-- ends image page info-->

    <!-- ends Collection details info -->

  </section>

  <!-- starts Image technical details window -->

  <section id="modal-window-image-technical-details">
    <h4><%= t('modal-image-details.titles.image-technical-details') %></h4>

    <div class="raw-api-data-title">
      <h5 class="image-details-raw"><%= t('modal-image-details.titles.raw-api-data') %></h5>
    </div>
    <div class="modal-image-field">
      <p class="raw-api-data"></p>
      <div class="modal-technical-buttons-container">
        <button id="copy-raw-api-data"><span class="fas fa-copy" aria-hidden="true"></span><%= t('modal-image-details.buttons.copy') %></button>
        <button id="" onclick="closeImageDetailsModalWindow()"><i class="fas fa-close"></i><%= t('modal-image-details.buttons.close') %></button>
      </div>
    </div>
    
  </section>

</section>