

<% if (apiData.estimated_nr_results == 0) { %>
    <%- include("../templates/body/body-not-found", {
    query: requestData.get('q'), 
    suggestion: suggestion,
    searchType: 'page-search',
  }) -%>
<% } else { %>
    
    <% if (suggestion != requestData.get('q')) { %>
        <%- include("../templates/fragments/search-suggestion") -%>
    <% } %>

    <h3><%= t('page-search.accessibility.title') %></h3>    
    <p id="estimated-results"><span id="estimated-results-value"><%= t('common.estimated-results',{
        numResults:(''+apiData.estimated_nr_results).replace(/\B(?=(\d{3})+(?!\d))/g,"."),
        from: requestData.get('from').slice(0,4),
        to: requestData.get('to').slice(0,4)
    }) %></p></li>

    <% apiData.response_items.forEach((element,index) => { %>
        <% let prevTitle = null; %>
        <% if(index > 0){
            if(!apiData.response_items[index-1].title){
                prevTitle = apiData.response_items[index-1].originalURL;
            } else {
                prevTitle = apiData.response_items[index-1].title;
            }
        } %>
        <!-- starts result <%= (index+1) %> -->
        <%- include("../templates/fragments/page-result",{pageData: element, index:index, prevTitle: prevTitle}) -%>
        <!-- ends result <%= (index+1) %> -->

    <% }); %>

    <% if (typeof exportObject != 'undefined'){ %>
        <!-- starts the result hidden in json format  -->
        <% let exportJson = JSON.stringify(exportObject)
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;"); %>
        <div style="display:none" id="options-export-json"><%- exportJson %></div> 
        <!-- ends the results in json format -->
    <% } %>

    <!-- starts navigation tools --> 
    <%- include("../templates/fragments/navigation-tools", {estimatedResults: apiData.estimated_nr_results}) -%>            
    <!-- ends navigation tools -->

<% } %>