<section id="technical-details" class="modal">
    <h3><%= t('wayback.popups.technical-details.accessibility') %></h3>
    <ul>
      <li><strong class="strong-bold"><%= t('wayback.popups.technical-details.title') %></strong><a href="https://github.com/arquivo/pwa-technologies/wiki/Arquivo.pt-API#response-fields"><%= t('wayback.popups.technical-details.description') %></a></li>
      <% if(apiData) { %>
      <%   Object.keys(apiData).forEach(key => { %>
      <%     const value = apiData[key]; %>
      <%     if(key == 'collection'){ %>
               <li><strong><%= key %>:</strong><a href="https://arquivo.pt/colecoes"><%= value %></a></li>
      <%      } else if(!utils.isValidUrl(value) || key == 'fileName'){ %>
               <li><strong><%= key %>:</strong><%= value %></li>
      <%      } else { %>
               <li><strong><%= key %>:</strong><a href="<%= value %>"><%= value %></a></li>
      <%      } %>
      <%   }); %>
      <% } %>
    </ul>
</section>