
    <!-- Hidden for future usage <button id="left-nav-close-button" onclick="closeLeftMenuNav()"><span>&times;</span></button>-->
    <section style="height: calc(100vh - 146px); overflow-y: auto;">
      <h4><%= t('wayback.nav-menu.accessibility'); %></h4>
      <ul class="replay-accordion show">
        <!-- starts table and list: show results as a table or as a list -->
        <li id="replay-table">
          <form action="/url/search" method="GET"><button type="submit"><span class="fas fa-table"
                aria-hidden="true"></span><%= t('wayback.nav-menu.table'); %></button>
                <input type="hidden" name="q" value="<%= requestData.get('url') %>">
                <input type="hidden" name="viewMode" value="table">
          </form>
        </li>
        <li id="replay-list">
          <form action="/replay-list-results" method="GET"><button type="submit"><span class="fas fa-list"
                aria-hidden="true"></span><%= t('wayback.nav-menu.list'); %></button></form>
        </li>
        <!-- ends table and list: show results as a table or as a list -->
        <%
        const requestedYear = requestData.get('timestamp').slice(0, 4);
        const requestedMonth = requestData.get('timestamp').slice(4, 6);
        const requestedDay = requestData.get('timestamp').slice(6, 8);
        
        let returnData = {
            years: {},
            items: apiData.length
        }
        apiData.forEach(item => {
            const year = item.timestamp.slice(0, 4);
            const month = item.timestamp.slice(4, 6);
            const day = item.timestamp.slice(6, 8);
            const hours = item.timestamp.slice(8, 10);
            const minutes = item.timestamp.slice(10, 12);
            const seconds = item.timestamp.slice(12, 14);

            if (typeof returnData.years[year] === 'undefined') {
                returnData.years[year] = {
                    months: {},
                };
            }
            if (typeof returnData.years[year].months[month] === 'undefined') {
                returnData.years[year].months[month] = []
            }

            returnData.years[year].months[month].push({
                ...item,
                year,
                month,
                day,
                hours,
                minutes,
                seconds,
            })

        });

        apiData = returnData;

        Object.keys(apiData.years).sort().forEach(year => {
            let yearUlClasses = "replay-accordion";
            let yearAnchorClasses = 'accordion-header accordion-replay-left-menu-year';
            if(year == requestedYear){
                yearUlClasses += ' show';
                yearAnchorClasses += ' active';
            } else {
                yearUlClasses += '" style="display: none;'
            }
          %>
            <li><a href="javascript:void(0)" class="<%- yearAnchorClasses %>"><%= year %></a>
                <ul class="<%- yearUlClasses %>">
          <% 
          Object.keys(apiData.years[year].months).sort().forEach(month => {
            let monthUlClasses = "replay-accordion";
            let monthAnchorClasses = 'accordion-header accordion-replay-left-menu-month';
            if(month == requestedMonth){
                monthUlClasses += ' show';
                monthAnchorClasses += ' active';
            } else {
                monthUlClasses += '" style="display: none;'
            }
            %>
                <li><a href="javascript:void(0)" class="<%- monthAnchorClasses %>"><%= t('common.months.'+month) %></a>
                    <ul class="<%- monthUlClasses %>">
            <% 
            apiData.years[year].months[month].forEach(item => {
                
                    let classNames = 'menu-pages-replay-date-hour';
                    
                    if (requestData.get('timestamp') === item.timestamp) {
                        classNames += ' date-selected' 
                    }
                    const href = "/wayback/"+item.timestamp+'/'+item.url;
                    const time = item.hours + 'h' + item.minutes;
                    %>
                        <li class="<%= classNames %>"><a href="<%- href %>" replay-url="<%= item.url %>" replay-timestamp="<%= item.timestamp %>">
                            <%= t('common.date.long',{
                                year: item.year,
                                month: t('common.months.'+item.month),
                                day: parseInt(item.day),
                                hours: item.hours,
                                minutes: item.minutes,                  
                            })%>
                        </a></li><%
            });
            //Close months list            
            %></ul></li><%
          });
        //Close years list            
        %></ul></li><%
        });
        %>
    </ul>
    </section>