<% if (suggestion != requestData.get('q')) { %>
  <%- include("../templates/fragments/search-suggestion") -%>
<% } %>

<% if (apiData.length == 0) { %>
  <%- include("../templates/body/body-not-found", {query: requestData.get('q')}) -%>
<% } else { %>
<section id="url-results" class="url-results-cl">
  <h3><%= t('url-search.accessibility.title') %></h3>    
  <p id="estimated-results"><span id="estimated-results-value"><%= t('common.estimated-results',{
    numResults:(''+apiData.length).replace(/\B(?=(\d{3})+(?!\d))/g,"."),
    from: requestData.get('from').slice(0,4),
    to: requestData.get('to').slice(0,4)
}) %></span></p>
<!-- starts table results container -->
<section id="table-results-container">
<!-- starts replay: table -->
<nav id="replay-table-results-nav">
    <h3><%= t('url-search.accessibility.nav.list') %></h3> 
    <!-- Hidden for future usage <button id="left-nav-close-button" onclick="closeLeftMenuNav()"><span>&times;</span></button>-->
   
    <!-- starts table navigation buttons -->
    <section class="table-results-buttons">
      <h4><%= t('url-search.accessibility.nav.buttons') %></h4>
      <button id="previous-navigation" onclick="$('#tablePresentation').animate({scrollLeft: '-='+(window.innerWidth/2)}, 800, 'easeOutQuad');"></span>&larr;</button> 
          
      <%- include('../templates/menu/url-nav-results', currentSelection = 'table') %>

      <button id="next-navigation" onclick="$('#tablePresentation').animate({scrollLeft: '+='+(window.innerWidth/2)}, 800, 'easeOutQuad');">&rarr;</button>

    </section>
    <!-- ends table navigation buttons -->

    </nav> 
    <!-- ends replay: table -->
    <!-- starts table: shows results as a table -->
    <% 
    const minYear = requestData.get('from').slice(0,4);
    const maxYear = requestData.get('to').slice(0,4);
    const tableData = {};


    for(let year = minYear; year <= maxYear; year++){
      tableData[''+year]=[];
    }

    const allYears = Object.keys(tableData).sort();
    
    apiData.forEach(item => {
      const year = item.timestamp.slice(0, 4);
      const month = item.timestamp.slice(4, 6);
      const day = item.timestamp.slice(6, 8);
      const hours = item.timestamp.slice(8, 10);
      const minutes = item.timestamp.slice(10, 12);
      const seconds = item.timestamp.slice(12, 14);

      tableData[year].push({
          ...item,
          year,
          month,
          day,
          hours,
          minutes,
          seconds,
      })
    });

    const maxRows = allYears.reduce((acc, year) => {return Math.max(acc,tableData[year].length)},0);


     %>   
     <div id="tablePresentation" style="overflow-x: scroll;">
    <table id="replay-menu-table">
      <caption><%= t('url-search.accessibility.replay.table') %></caption>        
        <thead>
            <tr id="display-year" class="year-table-row">
              <%
              allYears.forEach(year => {
                %><th id="year-<%= year %>"class="year-table-head"><%= year %></th><%
              });
              %>      
            </tr>
        </thead>
        <tbody>
            <%
              for(let row = 0; row < maxRows; row++){
                %><tr id="display-date-month" class="date-month-table-row"><%
                  allYears.forEach(year => {
                    if(row < tableData[year].length ){
                      const title = t('common.date.long',{
                        year: year,
                        month: t('common.months.'+tableData[year][row].month),
                        day: parseInt(tableData[year][row].day),
                        hours: tableData[year][row].hours,
                        minutes: tableData[year][row].minutes
                      })
                      %> 
                      <td class="year-month-data" headers="year-<%= year %>"> <a href="https://arquivo.pt/wayback/<%-tableData[year][row].timestamp+'/'+tableData[year][row].url %>" title="<%= title %>"><%= t('common.date.short',{
                        month: t('common.shortMonths.'+tableData[year][row].month),
                        day: parseInt(tableData[year][row].day)
                      }) %></a></td>
                      <%
                    } else {
                      %><td></td><%
                    }
                  });
                  %></tr><%
              } 
              %>               
 </tbody>
</table>
</div>
<!-- ends table: shows results as a table -->
</section>
<!-- ends table results container -->
</section>
<!-- starts accordion for list -->  
<script>
    var replayList = document.getElementsByClassName("accordion-replay-list");
    var i;
    
    for (i = 0; i < replayList.length; i++) {
      replayList[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        } 
      });
    }
</script>
<!-- ends accordion for list -->
<% } %>