<!-- starts table results container -->
<section id="table-results-container">
<!-- starts replay: table -->
<nav id="replay-table-results-nav">
  
    <h3>Replay table </h3> 
    <!-- Hidden for future usage <button id="left-nav-close-button" onclick="closeLeftMenuNav()"><span>&times;</span></button>-->
   
    <!-- starts table navigation buttons -->
    <section class="table-results-buttons">
      <h4>Replay table menu navigation buttons</h4>
      <button id="previous-navigation" onclick="$('#tablePresentation').animate({scrollLeft: '-='+(window.innerWidth/2)}, 800, 'easeOutQuad');"></span>&larr;</button> 
      
      <%
      let tableRequestData,listRequestData
      if (typeof requestData == 'undefined'){
        tableRequestData =  new URLSearchParams();
        tableRequestData.set('viewMode','table');
        listRequestData =  new URLSearchParams();
        listRequestData.set('viewMode','list');
      } else {
        tableRequestData =  new URLSearchParams(requestData);
        tableRequestData.set('viewMode','table');
        listRequestData =  new URLSearchParams(requestData);
        listRequestData.set('viewMode','list');
      }
      %>   
      
      <form id="replay-table" action="/url/search" method="GET">
        <%- include('../templates/fragments/hidden-search-inputs',{requestData: tableRequestData}) %>
        <button type="submit" id="replay-table-button"><span class="fas fa-table" aria-hidden="true"></span> Table</button>
      </form>
      
      <form id="replay-list" action="/url/search" method="GET">
        <%- include('../templates/fragments/hidden-search-inputs',{requestData: listRequestData}) %>
        <button id="replay-list-button" type="submit"><span class="fas fa-list" aria-hidden="true"></span> List</button>
      </form>      
      <button id="next-navigation" onclick="$('#tablePresentation').animate({scrollLeft: '+='+(window.innerWidth/2)}, 800, 'easeOutQuad');">&rarr;</button>

    </section>
    <!-- ends table navigation buttons -->

    </nav> 
    <!-- ends replay: table -->
    <!-- starts table: shows results as a table -->
    <% 
    console.log(apiData[0]);
    const [minYear,maxYear] = apiData.map(item => parseInt(item.timestamp.slice(0,4))).reduce((extremes,year) => {;
      return [Math.min(extremes[0],year),Math.max(extremes[1],year)];
    }, [new Date().getFullYear(),1991] );

    const tableData = {}


    for(let year = minYear; year <= maxYear; year++){
      tableData[''+year]=[];
    }

    const allYears = Object.keys(tableData).sort();
    
    apiData.forEach(item => {
      const year = item.timestamp.slice(0, 4);
      const month = item.timestamp.slice(4, 6);
      const day = item.timestamp.slice(6, 8);
      const hours = item.timestamp.slice(8, 10);
      const minutes = item.timestamp.slice(10, 12);
      const seconds = item.timestamp.slice(12, 14);

      tableData[year].push({
          ...item,
          year,
          month,
          day,
          hours,
          minutes,
          seconds,
      })
    });

    const maxRows = allYears.reduce((acc, year) => {return Math.max(acc,tableData[year].length)},0);


     %>   
     <div id="tablePresentation" style="overflow-x: scroll;">
    <table id="replay-menu-table">
      <caption>Replay menu table</caption>        
        <thead>
            <tr id="display-year" class="year-table-row">
              <%
              allYears.forEach(year => {
                %><th id="year-<%= year %>"class="year-table-head"><%= year %></th><%
              });
              %>      
            </tr>
        </thead>
        <tbody>
            <%
              for(let row = 0; row < maxRows; row++){
                %><tr id="display-date-month" class="date-month-table-row"><%
                  allYears.forEach(year => {
                    if(row < tableData[year].length ){
                      const title = t('common.date.long',{
                        year: year,
                        month: t('common.months.'+tableData[year][row].month),
                        day: parseInt(tableData[year][row].day),
                        hours: tableData[year][row].hours,
                        minutes: tableData[year][row].minutes
                      })
                      %> 
                      <td class="year-month-data" headers="year-<%= year %>"> <a href="https://arquivo.pt/wayback/<%-tableData[year][row].timestamp+'/'+tableData[year][row].url %>" title="<%= title %>"><%= t('common.date.short',{
                        month: t('common.shortMonths.'+tableData[year][row].month),
                        day: parseInt(tableData[year][row].day)
                      }) %></a></td>
                      <%
                    } else {
                      %><td></td><%
                    }
                  });
                  %></tr><%
              } 
              %>               
 </tbody>
</table>
</div>
<!-- ends table: shows results as a table -->
</section>
<!-- ends table results container -->

<!-- starts accordion for list -->  
<script>
    var replayList = document.getElementsByClassName("accordion-replay-list");
    var i;
    
    for (i = 0; i < replayList.length; i++) {
      replayList[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        } 
      });
    }
</script>
<!-- ends accordion for list -->
