<!-- starts white background bottom corner rounded shape -->
<div class="background-bottom-curve"></div>
<!-- ends white background top corner rounded shape -->
<!-- starts footer -->  
<footer> 
  <!-- starts wrap About, News, Collaborate and Help sections -->
  <section id="important-info">
    <h3>Important Information</h3> 
  <!-- starts Sobre, Notícias, Colabore and Ajuda -->  
  <section id="useful-links">
    <!-- About -->
    <h4><%= t('footer.about.header') %></h4>
    <ul>      
      <li><a href="<%= t('footer.about.what-is.url') %>"><%= t('footer.about.what-is.text') %></a></li>
      <li><a href="<%= t('footer.about.publications.url') %>"><%= t('footer.about.publications.text') %></a></li>
      <li><a href="<%= t('footer.about.examples.url') %>"><%= t('footer.about.examples.text') %></a></li>
      <li><a href="<%= t('footer.about.press.url') %>"><%= t('footer.about.press.text') %></a></li>
      <li><a href="<%= t('footer.about.source.url') %>"><%= t('footer.about.source.text') %></a></li>
      <li><a href="<%= t('footer.about.terms.url') %>"><%= t('footer.about.terms.text') %></a></li>
    </ul>    
  </section>
  <section id="news">
  <!-- News -->
  <h4><%= t('footer.news.header') %></h4>
    <ul>      
      <li><a href="<%= t('footer.news.mailing-list.url') %>"><%= t('footer.news.mailing-list.text') %></a></li>
      <li><a href="<%= t('footer.news.latest.url') %>"><%= t('footer.news.latest.text') %></a></li>
      <li><a href="<%= t('footer.news.twitter.url') %>"><%= t('footer.news.twitter.text') %></a></li>
      <li><a href="<%= t('footer.news.facebook.url') %>"><%= t('footer.news.facebook.text') %></a></li>
      <li><a href="<%= t('footer.news.rss.url') %>"><%= t('footer.news.rss.text') %></a></li>
      <li><a href="<%= t('footer.news.videos.url') %>"><%= t('footer.news.videos.text') %></a></li>
    </ul> 
    </section>
    <section id="collaborations">
    <!-- Collaborations -->
    <h4><%= t('footer.collaborate.header') %></h4>
    <ul>     
      <li><a href="<%= t('footer.collaborate.awards.url') %>"><%= t('footer.collaborate.awards.text') %></a></li> 
      <li><a href="<%= t('footer.collaborate.suggest.url') %>"><%= t('footer.collaborate.suggest.text') %></a></li>
      <li><a href="<%= t('footer.collaborate.dissemination.url') %>"><%= t('footer.collaborate.dissemination.text') %></a></li>
      <li><a href="<%= t('footer.collaborate.publish.url') %>"><%= t('footer.collaborate.publish.text') %></a></li>
      <li><a href="<%= t('footer.collaborate.supply.url') %>"><%= t('footer.collaborate.supply.text') %></a></li>
      <li><a href="<%= t('footer.collaborate.rnd.url') %>"><%= t('footer.collaborate.rnd.text') %></a></li>
    </ul>
    </section>
    <section id="help">
    <!-- Collaborations -->
    <!-- Help -->
    <h4><%= t('footer.help.header') %></h4>
    <ul>
      <li><a href="<%= t('footer.help.search.url') %>"><%= t('footer.help.search.text') %></a></li>
      <li><a href="<%= t('footer.help.advanced-search.url') %>"><%= t('footer.help.advanced-search.text') %></a></li>
      <li><a href="<%= t('footer.help.access.url') %>"><%= t('footer.help.access.text') %></a></li>
      <li><a href="<%= t('footer.help.crawling.url') %>"><%= t('footer.help.crawling.text') %></a></li>
      <li><a href="<%= t('footer.help.faq.url') %>"><%= t('footer.help.faq.text') %></a></li>
      <li><a href="<%= t('footer.help.courses.url') %>"><%= t('footer.help.courses.text') %></a></li>
      <li><a href="<%= t('footer.help.contact.url') %>"><%= t('footer.help.contact.text') %></a></li>
    </ul>
    </section>      
</section>
<!-- ends wrap About, News, Collaborate and Help sections -->

<!-- starts institutional links -->
<section id="institutional">
  <h4>Institutional</h4>
    <!-- starts FCT image logo link --> 
    <a href="//www.fccn.pt/" target="_blank" title="Visit the website of FCCN - Funda&ccedil;&atilde;o para a computa&ccedil;&atilde;o Cient&iacute;fica Nacional"> <img src="/img/logo-fccn.png" alt="FCCN - Funda&ccedil;&atilde;o para a computa&ccedil;&atilde;o Cient&iacute;fica Nacional"></a> 
    <!-- ends FCT image logo link --> 
       <!-- starts República Portuguesa image logo link --> 
    <a href="//www.portugal.gov.pt/pt/ministerios/mctes.aspx" target="_blank" title="Visit the website of the Portuguese government"> <img src="/img/gov-pt.png" alt="Portuguese government"></a> 
    <!-- ends República Portuguesa image logo link --> 
  </section>
  <!-- ends institutional links -->    
</footer>
<!-- ends footer -->
