<head>
<title><%= t('head.title') %></title>
  
<link rel="icon" href="/img/logo-16.png">
<meta charset="utf-8" />
<meta name="Keywords" content="Web, archive, search, portuguese, Portugal, homepage" />
<meta name="Description" content="<%= t('head.description') %>" />
<!-- starts social media meta data -->
<meta property="og:title" content="<%= t('head.title') %>"/>
<meta property="og:description" content="<%= t('head.description') %>"/>
<meta property="og:image" content="img/logoFace.png"/>
<meta property="og:image:alt" content="Arquivo.pt">
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="512" />
<meta property="og:image:height" content="512" />
<meta property="og:type" content="website" />
<!-- ends social media meta data -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- starts javascript files, Google Font and CSS links -->
<%- include("javascript_and_css_links") -%>
<!-- ends javascripts files, Google Font and CSS links -->
</head>