<!-- starts menu left navigation -->
<nav id="left-nav">
<h3><%= t('menu.accessibility.title') %></h3> 
<button id="left-nav-close-button" onclick="closeLeftMenuNav(); 
"><span>&times;</span></button>
<section>
  <h4><%= t('menu.accessibility.main') %></h4> 
    <ul>
      <% 
      let switchLanguageUrl = t('menu.switch-language.url');
      if(typeof requestData !== 'undefined'){
        const switchLangData =  new URLSearchParams(requestData);
        switchLangData.set('l',t('menu.switch-language.lang'));
        switchLanguageUrl = '?' + switchLangData.toString();
      }
      const switchLocale = getLocales().find(locale => locale.split('_').shift() == t('menu.switch-language.lang'));
      %>
      <li id="menu-language"><a href="/switchlang"><span class="fas fa-globe-americas" aria-hidden="true"></span><%= t('menu.switch-language.text') %></a></li>
      <li id="menu-copy-link"><a href="#" onclick="copyURLToClipboard()"><span class="fas fa-copy" aria-hidden="true"></span><%= t('menu.copy-link.text') %></a></li>
      <li id="menu-pages"><a href="javascript:(void)" class="accordion-left-menu"><span class="fas fa-pager" aria-hidden="true"></span><%= t('menu.pages.text') %></a>
        <ul class="panel">
          <li id="menu-pages-new-search"><a href="/page/search?l=<%= getLanguage() %>"><span class="fas fa-search" aria-hidden="true"></span><%= t('menu.pages.new-search.text') %></a></li>
          <li id="menu-pages-advanced-search"><a href="/page/advanced/search?l=<%= getLanguage() %>"><span class="fas fa-search-plus" aria-hidden="true"></span><%= t('menu.pages.advanced-search.text') %></a></li>
        </ul>
      </li>
      <li id="menu-images"><a href="javascript:(void)" class="accordion-left-menu"><span class="fas fa-images" aria-hidden="true"></span><%= t('menu.images.text') %></a>
        <ul class="panel">
        <li id="menu-images-new-search"><a href="/image/search?l=<%= getLanguage() %>"><span class="fas fa-search" aria-hidden="true"></span><%= t('menu.images.new-search.text') %></a></li>
          <li id="menu-images-advanced-search"><a href="/image/advanced/search?l=<%= getLanguage() %>"><span class="fas fa-search-plus" aria-hidden="true"></span><%= t('menu.images.advanced-search.text') %></a></li>
        </ul>   
      </li>
      <li id="menu-savepagenow"><a href="/services/savepagenow?l=<%= getLanguage() %>"><span class="fa fa-video-camera" aria-hidden="true"></span><%= t('menu.savepagenow.text') %></a></li>  
      <li id="menu-about"><a href="<%= t('menu.about.url') %>"><span class="fas fa-info-circle" aria-hidden="true"></span><%= t('menu.about.text') %></a></li>  
    </ul>
</section>
</nav> 
<!-- ends left nav menu list -->
<!-- starts accordion -->  
<script>
var acc = document.getElementsByClassName("accordion-left-menu");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>
<!-- ends accordion -->  
<!-- ends left nav menu --> 
