<!-- starts options nav menu -->
<nav id="options-right-nav">
<h3><%= t('options.accessibility.title') %></h3> 
<button id="options-nav-close-button" onclick="closeOptionsMenuNav()"><span>&times;</span></button>
<section>
  <h4><%= t('options.accessibility.main') %></h4>
    <ul>      
      <li><a href="#" id="options-export-xlsx"><span class="fas fa-file-download" aria-hidden="true"></span><%= t('options.export',{format: 'XLSX'}) %></a></li>
      <li><a href="#" id="options-export-csv"><span class="fas fa-file-download" aria-hidden="true"></span><%= t('options.export',{format: 'CSV'}) %></a></li>
      <li><a href="#" id="options-export-ods"><span class="fas fa-file-download" aria-hidden="true"></span><%= t('options.export',{format: 'ODS'}) %></a></li>
      <li><a href="#" id="options-export-txt"><span class="fas fa-file-download" aria-hidden="true"></span><%= t('options.export',{format: 'TXT'}) %></a></li> 
    </ul>
</nav>
<!-- ends options nav menu -->
<!-- starts accordion -->  
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>
<!-- ends accordion --> 
