<!-- starts h1 -->
<h1>Arquivo.pt – search pages from the past!</h1>
<!-- ends h1 -->

<!-- starts h2 -->
<h2>Arquivo.pt – the Portuguese web-archive is a research infrastructure that enables search and access to files
  archived from the web since 1996. Its main objective is the preservation of information published on the Web for
  research purposes.</h2>
<!-- ends h2 -->

<!-- starts alerts -->
<%- include("../fragments/alert-container.ejs") -%>
<!-- ends alerts -->

<header>  
  <!-- starts left, right and replay menus overlay modal -->
  <%- include("../fragments/menus-overlay.ejs") -%>
  <!-- ends left, right and replay menus overlay modal -->
  <!-- Include menu button -->
  <%- include("../menu/menu-button") -%>
  <!-- end include menu button -->
  
  <!-- adds logo -->
  <%- include("logo") -%>
  <!-- ends logo -->
<!-- Include left and right nav -->
<%- include("../menu/left_nav_menu") -%>
<!-- starts white background top corner rounded shape -->
<div class="background-top-curve"></div>
<!-- ends white background top corner rounded shape -->
</header>

<section class="header-content-container"></section>