
<!-- starts alerts -->
<%- include("../fragments/alert-container.ejs") -%>
<!-- ends alerts -->

<!-- starts image modal when user clicks to see image its details -->
<section id="technical-details" class="modal">
  <h3>Page details</h3>
  <ul>
    <li><strong class="strong-bold">Technical details: </strong><a href="https://github.com/arquivo/pwa-technologies/wiki/Arquivo.pt-API#response-fields">(field description)</a></li>
    <%
      const urlPattern = /^((https?:\/\/)?([a-zA-Z\d][-\w\.]+)\.([a-zA-Z\.]{2,6})([-\/\w\p{L}\.~,;:%&=?+$#*\(?\)?]*)*\/?)$/;
      Object.keys(apiData).forEach(key => {
          const value = apiData[key];
          if(key == 'collection'){
            %><li><strong>&rarr; <%= key %>:</strong><a href="https://arquivo.pt/colecoes"><%= value %></a></li><%
          } else if(!urlPattern.test(value) || key == 'fileName'){
            %><li><strong>&rarr; <%= key %>:</strong><%= value %></li><%
          } else {
            %><li><strong>&rarr; <%= key %>:</strong><a href="<%= value %>"><%= value %></a></li><%
          }
      });
    %>
  </ul>
</section>
<!-- ends image modal when user clicks to see image and its details -->

<!-- starts take screenshot -->
<section id="screenshot" class="modal">
  <h3>Take screenshot</h3>
  <ul class="replay-options">
    <li><p><span class="fas fa-camera" aria-hidden="true"></span> Take a screenshot of this page?</p></li>
    <li><button class="confirm">OK</button></li>
    <li><button class="cancel">Cancel</button></li>    
  </ul>
<!-- ends take screenshot -->  
</section>

<!-- starts print page -->
<section id="print" class="modal">
  <h3>Print page</h3>
  <ul class="replay-options">
    <li><p><span class="fas fa-print" aria-hidden="true"></span> Print this page?</p></li>
    <li><button class="confirm">OK</button></li>
    <li><button class="cancel">Cancel</button></li>    
  </ul>
<!-- ends print page -->  
</section>
<div id="divPrintMe" style="display: none;"></div>

<!-- starts complete page -->
<section id="complete-the-page" class="modal">
  <h3>Complete the page</h3>
  <ul class="replay-options">
    <li><p><span class="fas fa-laptop-medical" aria-hidden="true"></span> We will try to complete the page with resources from other web archives</p></li>
    <li><button class="confirm">OK</button></li>
    <li><button class="cancel">Cancel</button></li>    
  </ul>
</section>
<!-- ends complete -->  

<!-- starts open replay page in fullscreen -->
<section id="fullscreen-mode" class="modal">
  <h3>Open page in fullscreen</h3>
  <button onclick="closesFullScreen()"><span class="fas fa-compress-arrows-alt" aria-hidden="true"></span> Exit fullscreen</button>  
</section>
<!-- ends open replay page in fullscreen -->  

<!-- starts replay with old browser -->
<section id="replay-with-old-browser" class="modal">
  <h3>Complete the page</h3>
  <ul class="replay-options">
    <li><p><span class="fab fa-internet-explorer" aria-hidden="true"></span> You are leaving Arquivo.pt to oldweb.today</a></p></li>
    <li><button class="confirm">OK</button></li>
    <li><button class="cancel">Cancel</button></li>    
  </ul>
</section>
<!-- ends replay with old browser -->  
<section id="loading-screen" class="modal">
  <h3>Loading...</h3>
  <%- include("../fragments/preloader") -%> 
</section>

<!-- starts alerts -->
<%- include("../fragments/alert-container") -%>
<!-- ends alerts -->    

<header>  
  <!-- starts left, right and replay menus overlay modal -->
  <%- include("../fragments/menus-overlay.ejs") -%>
  <!-- ends left, right and replay menus overlay modal -->
  <!-- Include menu button -->
  <%- include("../menu/menu-button") -%>
  <!-- end include menu button -->  

  <!-- Include menu button -->
  <%- include("../menu/options-button", {functionName: 'openReplayRightMenuNav'}) -%>
  <!-- end include menu button -->
  
  <!-- adds logo -->
  <%- include("logo") -%>
  <!-- ends logo -->
<!-- starts include: replay, left and right nav -->
<%- include("../menu/left_nav_menu") -%>
<%- include("../menu/left_nav_replay_menu") -%>
<%- include("../menu/replay_right_nav_menu") -%>
<!-- ends include: replay, left and right nav -->

<!-- starts white background top corner rounded shape -->
<div class="background-top-curve"></div>
<!-- ends white background top corner rounded shape -->

<!-- starts white background top corner rounded shape -->

<%
  const year = requestedPage.timestamp.slice(0, 4);
  const month = requestedPage.timestamp.slice(4, 6);
  const day = requestedPage.timestamp.slice(6, 8);
  const hours = requestedPage.timestamp.slice(8, 10);
  const minutes = requestedPage.timestamp.slice(10, 12);
  const seconds = requestedPage.timestamp.slice(12, 14);
  const date = t('common.date.long',{
    year: year,
    month: t('common.months.'+month),
    day: parseInt(day),
    hours: hours,
    minutes: minutes
  });
%>

<!-- starts shows url link of page selected and timestamp -->
<p id="chosen-url"><a class="chosen-url-cl" target="_blank" href="<%- requestedPage.url %>"><span class="icon-link fas fa-link" aria-hidden="true"></span><%- requestedPage.url %></a> - <%- date %></p>
<!-- ends shows url link of page selected and timestamp -->

</header>
