<!-- starts alerts -->
<%- include("../fragments/alert-container.ejs") -%>
<!-- ends alerts -->
  
<header>  
    <!-- starts left, right and replay menus overlay modal -->
    <%- include("../fragments/menus-overlay.ejs") -%>
    <!-- ends left, right and replay menus overlay modal -->
    <!-- Include menu button -->
    <%- include("../menu/menu-button") -%>
    <!-- end include menu button -->
  
    <!-- adds logo -->
  <%- include("logo") -%>
  <!-- ends logo -->
  
  <!-- Include left nav -->
  <%- include("../menu/left_nav_menu") -%>

  <!-- starts white background top corner rounded shape -->
  <div class="background-top-curve"></div>
  <!-- ends white background top corner rounded shape -->
  </header>

  <!-- starts search tools section -->  
  
  <!-- starts content container -->
  <section class="header-content-container">
  <h3><%= t('header.content.accessibility.title') %></h3>  
  
  <!-- starts search tools section -->
  <section id="search-tools">
  <h3><%= t('header.search-tools.accessibility.title') %></h3>
  
  <!-- starts search tools input -->
  <form id="search-form" action="/page/search" method="GET">
  <h4>Search input</h4>
    <span class="search-input-button">
    <input id="submit-search-input" type="search" placeholder="Words or URL" autocapitalize="off" autocomplete="off">
    <button id="submit-search" type="submit"  aria-hidden="true" value="search mobile menu button">Search</button>
    <button id="submit-search-mobile" type="submit" class="fas fa-search" aria-hidden="true" value="search mobile menu button"></button></span>
  
  <!-- ends search tools input -->
    
  <!-- starts range slider block --> 
  <%- include('../fragments/search-tools-date-slider') %>
  <!-- ends range slider block -->  
  
  </form>
  <!-- ends search tools input -->
  
  <!-- starts search tools buttons -->
  <section id="search-tools-buttons">
    <h4>Search Pages and Images Buttons</h4>
    <form id="search-form-pages" class="buttons" action="/pages" method="get">
      <button type="submit" value="Pages">Pages</button>
    </form>
    <form id="search-form-images" class="buttons" action="/images" method="get">
      <button type="submit" value="Images">Images</button>
    </form>
    <form id="search-form-advanced" class="buttons" action="/page/advanced/search" method="get">
      <button type="submit" value="Advanced Search">Advanced Search</button>
    </form>  
  </section>
  <!-- ends search tools buttons -->
  </section>
  <!-- ends search tools section -->
  </section>
  <!-- ends content container -->