<% if (typeof searchType == 'undefined') { %>
<%  searchType = 'pages';  %>
<% } %>

<!-- starts alerts -->
<%- include("../fragments/alert-container.ejs") -%>
<!-- ends alerts -->

<header>
  <!-- Include menu button -->
  <%- include("../menu/menu-button") -%>
  <!-- end include menu button -->

  <!-- adds logo -->
  <%- include("logo") -%>
  <!-- ends logo -->

  <!-- Include left nav -->
  <%- include("../menu/left_nav_menu") -%>
  <!-- ends left nav -->

  <!-- starts white background top corner rounded shape -->
  <div class="background-top-curve"></div>
  <!-- ends white background top corner rounded shape -->
</header>
<!-- ends header -->

<!-- starts content container -->
<section class="header-content-container">
  <h3><%= t('header.content.accessibility.title') %></h3>

  <!-- starts search tools section -->
  <section id="search-tools">
    <h3><%= t('header.search-tools.accessibility.title') %></h3>

    <!-- starts search tools input -->
    <form id="search-form" role="form" action="/<%= searchType.slice(0,-1) %>/search" method="GET">

      <!-- starts search bar -->
      <%- include('../fragments/search-tools-search-bar') %>
      <!-- ends search bar -->

      <!-- starts range slider block -->
      <%- include('../fragments/search-tools-date-slider') %>
      <!-- ends range slider block -->

    </form>
    <!-- ends search tools input -->

    <!-- starts search tools buttons -->
    <%- include('../fragments/search-tools-buttons') %>
    <!-- ends search tools buttons -->
    
  </section>
  <!-- ends search tools section -->
</section>
<!-- ends content container -->