<% if (typeof searchType == 'undefined') { %>
<%  searchType = 'pages';  %>
<% } %>

<!-- starts alerts -->
<%- include("../fragments/alert-container.ejs") -%>
<!-- ends alerts -->

<header>
  <!-- Include menu button -->
  <%- include("../menu/menu-button") -%>
  <!-- end include menu button -->

  <!-- adds logo -->
  <%- include("logo") -%>
  <!-- ends logo -->

  <!-- Include left nav -->
  <%- include("../menu/left_nav_menu") -%>
  <!-- ends left nav -->

  <!-- starts white background top corner rounded shape -->
  <div class="background-top-curve"></div>
  <!-- ends white background top corner rounded shape -->
</header>
<!-- ends header -->

<!-- starts content container -->
<section class="header-content-container">
  <h3>Content container</h3>

  <!-- starts search tools section -->
  <section id="search-tools">
    <h3>Search Tools</h3>

    <!-- starts search tools input -->
    <form id="search-form" role="form" action="<%= searchType %>-search-results" method="GET">

      <!-- starts search bar -->
      <%- include('../fragments/search-tools-search-bar') %>
      <!-- ends search bar -->

      <!-- starts range slider block -->
      <%- include('../fragments/search-tools-date-slider') %>
      <!-- ends range slider block -->

    </form>
    <!-- ends search tools input -->

    <!-- starts search tools buttons -->
    <section id="search-tools-buttons">
      <h4>Search Pages and Images Buttons</h4>
      <form id="search-form-pages" role="search for pages" class="buttons" action="pages" method="get">
        <label for="get-language-pages">Get language for pages</label>
        <input id="get-language-pages" role="show language for pages" type="hidden" name="l" value="<%= getLanguage() %>">
        <button type="submit" value="Pages"><%= t('home.search-tools.pages') %></button>
      </form>
      <form id="search-form-images" role="search for images" class="buttons" action="images" method="get">
        <label for="get-language-images">Get language for images</label>
        <input id="get-language-images" role="show language for images" type="hidden" name="l" value="<%= getLanguage() %>">
        <button type="submit" value="Images"><%= t('home.search-tools.images') %></button>
      </form>
      <form id="search-form-advanced" role="advanced search for pages" class="buttons" action="<%= searchType %>-advanced-search" method="get">
        <label for="hidden-language">Get language for advanced search</label>
        <input id="hidden-language" role="insert advanced search images" type="hidden" name="l" value="<%= getLanguage() %>">
        <button type="submit" value="Advanced Search"><%= t('home.search-tools.advanced-search') %></button>
      </form>
    </section>
    <!-- ends search tools buttons -->
  </section>
  <!-- ends search tools section -->
</section>
<!-- ends content container -->