<!-- starts alerts -->
<%- include("../fragments/alert-container.ejs") -%>
<!-- ends alerts -->

<!-- starts image modal when user clicks to see both image and image details -->
<section id="modal-window" class="modal">    
  <h3>Image details</h3> 

  <!-- starts gradient image effect when scrolling modal: technical details: top -->
  <div class="top-transparent-image-gradient"></div>
  <!-- ends gradient image effect when scrolling modal: technical details: top -->

  <a href="javascript:void()" id="close-modal-tecnhical" onmousedown="closeImageDetailsModalWindow()" onmouseup="closeImageDetailsModalWindowButton()">Close</a>
  <button id="previous-image-button" class="image-navigation-button"><span class="fas fa-chevron-left" aria-hidden="true"></span></button>
  <button id="next-image-button" class="image-navigation-button"><span class="fas fa-chevron-right" aria-hidden="true"></span></button>
  <img src="img/lisboa-image-details-01.jpg" alt="Electrico de Lisboa">
  
 
  <section class="image-details-navigation">   
    <h4>Image details navigation</h4> 
    <form id="view-image-website" action="https://hotel-mix.de/hotels/portugal/lisbon">
      <button id="image-website-url-button" class="button" value="visit image website"><span class="fas fa-eye" aria-hidden="true"></span>Visit</button> 
    </form>
    <form id="jump-to-image-details" action="javascript:void()">
      <button id="image-details-button" class="button" value="image technical details" onclick="openImageDetailsModalWindow()"><span class="fas fa-info-circle" aria-hidden="true"></span>Details</button> 
    </form>  
  </section>
  <section class="image-details-description">  
  <h4>Image details description</h4> 
  
    <!-- starts image info -->
    <h5 class="image-description-heading">&rarr; Image</h5>
    <p class="image-description-name"><span class="fas fa-link" aria-hidden="true"></span><a href="https://viagemeturismo.abril.com.br/cidades/lisboa-4/"> Lisboa: melhor época, hotéis, restaurantes, passeios e mais | Viagem e Turismo</a></p>
    <p class="image-description-url"><span class="fas fa-link" aria-hidden="true"></span><a href="https://viagemeturismo.abril.com.br/cidades/lisboa-4/"> viagemeturismo.abril.com.br/cidades/lisboa-4/</a></p>
    <p class="image-description-date"><span class="far fa-calendar" aria-hidden="true"></span> 12 March at 00:15 - 2021.</p>
    <!-- ends image info-->

    <!--starts image page info -->
    <h5 class="image-description-heading">&rarr; Page</h5>
    <p class="image-description-url"><span class="fas fa-link" aria-hidden="true"></span><a href="https://viagemeturismo.abril.com.br/cidades/lisboa-4/"> viagemeturismo.abril.com.br/cidades/lisboa-4/</a></p>
    <p class="image-description-date"><span class="far fa-calendar" aria-hidden="true"></span> 12 March at 00:15 - 2021.</p>
    <!-- ends image page info-->    

    <!-- ends Collection details info -->

  </section>

    <!-- starts Image technical details window -->

    <section id="modal-window-image-technical-details">
      <h3>Image technical details</h3> 
      
      <h5 id="image-details-anchor">&rarr; Page details</h5> 
      <h5 class="image-description-heading">URL:</h5> 
      <p class="image-description-url"><span class="fas fa-link" aria-hidden="true"></span><a class="image-details-padding-right" href="https://viagemeturismo.abril.com.br/cidades/lisboa-4/">viagemeturismo.abril.com.br/cidades/lisboa-4/</a></p>
       
      <h5 class="image-description-heading">Timestamp:</h5> 
      <p class="image-description-date"><span class="far fa-clock" aria-hidden="true"></span> 4567989078994532</p>
       
      <h5 class="image-description-heading">Title:</h5>  
      <p class="image-description-date"><span class="fas fa-file-signature" aria-hidden="true"></span> Lisboa: melhor época, hotéis, restaurantes, passeios e mais | Viagem e Turismo</p>
  
      <!--starts Image details info -->
  
      <h5>&rarr; Image details</h5> 
      <h5 class="image-description-heading">Source:</h5> 
      <p class="image-description-url"><span class="fas fa-link" aria-hidden="true"></span><a class="image-details-padding-right" href="https://viagemeturismo.abril.com.br/cidades/lisboa-4/">viagemeturismo.abril.com.br/cidades/lisboa-4/</a></p>
          
      <h5 class="image-description-heading">Timestamp:</h5> 
      <p class="image-description-date"><span class="far fa-clock" aria-hidden="true"></span> 4567989078994532</p>
          
      <h5 class="image-description-heading">Alt:</h5>  
      <p class="image-description-date"><span class="fas fa-file-signature" aria-hidden="true"></span> Lisboa: melhor época, hotéis, restaurantes, passeios e mais | Viagem e Turismo</p>
     
      <h5 class="image-description-heading">Resolution:</h5>  
      <p class="image-description-date"><span class="fas fa-desktop"></span> 500 x 400 pixels </p>
  
      <h5 class="image-description-heading">Mimetype:</h5>  
      <p class="image-description-date"><span class="fas fa-camera"></span> jpg</p>
  
      <h5 class="image-description-heading">Safe search classification:</h5>  
      <p class="image-description-date"><span class="fas fa-search" aria-hidden="true"></span> 0.999</p>

      <!-- ends Image details info -->
  
      <!--starts Collection details info -->

      <h5 class="image-details-collection">&rarr; Collection</h5> 
      <h5 class="image-description-heading">Name:</h5> 
      <p class="image-description-date"><span class="fas fa-book-open" aria-hidden="true"></span> Lisboa: melhor época, hotéis, restaurantes, passeios e mais | Viagem e Turismo</p>
      
    </section>

  <!-- starts gradient image effect when scrolling modal: technical details: bottom -->
  <div class="bottom-transparent-image-gradient"></div>
  <!-- ends gradient image effect when scrolling modal: technical details: top -->

</section>

<!-- ends image modal when user clicks to see both image and image details -->

<header>  
  <!-- Include menu button -->
  <%- include("../menu/menu-button") -%>
  <!-- end include menu button -->
  <!-- Include options button -->
  <%- include("../menu/options-button") -%>
  <!-- end include options button -->
  <!-- adds logo -->
  <%- include("logo") -%>
  <!-- ends logo -->

  <!-- Include left and right nav -->
  <%- include("../menu/left_nav_menu") -%>
  <%- include("../menu/options_right_nav_menu") -%>
  <!-- starts white background top corner rounded shape -->
  <div class="background-top-curve"></div>
  <!-- ends white background top corner rounded shape -->
</header>
<!-- starts search tools section -->

<!-- starts content container -->
<section class="header-content-container">
<h3>Content container</h3>  

<section id="search-tools">
<h3>Search Tools</h3>
<!-- starts search tools input -->
<form id="search-form" action="images-search-results" method="GET">
  <h4>Search input</h4>
  <span class="search-input-button">
  <input id="submit-search-input" type="search" placeholder="Words or URL" autocapitalize="off" autocomplete="off" autofocus onmouseout="removeSearchBoxShadow()">
  <button id="submit-search" type="submit"  aria-hidden="true" value="search mobile menu button">Search</button>
  <button id="submit-search-mobile" type="submit" class="fas fa-search" aria-hidden="true" value="search mobile menu button"></button></span>

<!-- ends search tools input -->
  
<!-- starts range slider block --> 
<%- include('../fragments/search-tools-date-slider') %>
<!-- ends range slider block -->   

</form>
<!-- starts search tools buttons -->
<section id="search-tools-buttons">
  <h4>Search Pages and Images Buttons</h4>
  <form id="search-form-pages" class="buttons" action="pages" method="get">
    <button type="submit" value="Pages">Pages</button>
  </form>
  <form id="search-form-images" class="buttons" action="images" method="get">
    <button type="submit" value="Images">Images</button>
  </form>
  <form id="search-form-advanced" class="buttons" action="pages-advanced-search" method="get">
    <button type="submit" value="Advanced Search">Advanced Search</button>
  </form>
</section>
<!-- ends search tools buttons -->
</section>
<!-- ends search tools section -->
</section>
<!-- ends content container -->