
<!-- starts alerts -->
<%- include("../fragments/alert-container") -%>
<!-- ends alerts --> 
<!-- starts WCAG 2.1: G1: Add a link (the first link of the page) at the top of each page to directly access the main content area -->
<a href="#main-content" id="skip-navigation-links" class="button" title="Skip navigation links and jump to the main content">Skip links</a> 
<header>  
  <!-- add menu button -->
  <%- include("../menu/menu-button") -%>
  <!-- ends menu button -->
  
  <!-- add options button -->
  <%- include("../menu/options-button") -%>
  <!-- ends options button --> 
  
  <!-- adds logo -->
  <%- include("logo") -%>
  <!-- ends logo -->
<!-- Include left and right nav -->
<%- include("../menu/left_nav_menu") -%>
<%- include("../menu/options_right_nav_menu") -%>
<!-- starts white background top corner rounded shape -->
<div class="background-top-curve"></div>
<!-- ends white background top corner rounded shape -->
</header>
<!-- starts search tools section -->
<!-- starts modal with calendar -->

<!-- starts content container -->
<section class="header-content-container">
  <h3>Content container</h3>  

<section id="search-tools">
<h3>Search Tools</h3>
<!-- starts search tools input -->
<form id="search-form" action="pages-search-results" method="GET">
<h4>Search input</h4>
  <span class="search-input-button">
  <input id="submit-search-input" type="search" placeholder="Words or URL" autocapitalize="off" autocomplete="off">
  <button id="submit-search" type="submit"  aria-hidden="true" value="search mobile menu button">Search</button>
  <button id="submit-search-mobile" type="submit" class="fas fa-search" aria-hidden="true" value="search mobile menu button"></button></span>

<!-- ends search tools input -->
  
<!-- starts range slider block --> 
<%- include('../fragments/search-tools-date-slider') %>
<!-- ends range slider block -->    
</form>

<!-- starts search tools buttons -->
<section id="search-tools-buttons">
  <h4>Search Pages and Images Buttons</h4>
  <form id="search-form-pages" class="buttons" action="pages" method="get">
    <button type="submit" value="Pages">Pages</button>
  </form>
  <form id="search-form-images" class="buttons" action="images" method="get">
    <button type="submit" value="Images">Images</button>
  </form>
  <form id="search-form-advanced" class="buttons" action="pages-advanced-search" method="get">
    <button type="submit" value="Advanced Search">Advanced Search</button>
  </form>
</section>
<!-- ends search tools buttons -->
</section>
<!-- ends search tools section -->
</section>
<!-- ends content container -->