<!-- starts h2 -->
<h2>Arquivo.pt – the Portuguese web-archive is a research infrastructure that enables search and access to files
  archived from the web since 1996. Its main objective is the preservation of information published on the Web for
  research purposes.</h2>
<!-- ends h2 -->

<!-- starts alerts -->
<%- include("../fragments/alert-container.ejs") -%>
<!-- ends alerts -->

<!-- starts WCAG 2.1: G1: Add a link (the first link of the page) at the top of each page to directly access the main content area -->
<a href="#main-content" id="skip-navigation-links" class="button" title="Skip navigation links and jump to the main content">Skip links</a> 

<!-- starts image modal when user clicks to see both image and image details -->
<section id="modal-window" class="modal">
  <h3>Image details</h3>
  <button id="previous-image-button" class="image-navigation-button" onclick=""><span class="fas fa-chevron-left" aria-hidden="true"></span></button>
  <button id="next-image-button" class="image-navigation-button" onclick=""><span class="fas fa-chevron-right" aria-hidden="true"></span></button>
  <img src="img/lisboa-image-details-01.jpg" alt="Electrico de Lisboa">
  <section class="image-details-navigation">
    <h4>Image details navigation</h4>  
    <form id="jump-to-image-details" action="#image-details-anchor">
      <button id="image-visit-url-button" class="button" value="visit page" onclick=""><span class="fas fa-eye" aria-hidden="true"></span>Visit</button> 
    </form>
    <form id="jump-to-image-details" action="#image-details-anchor">
      <button id="image-details-button" class="button" value="details" onclick=""><span class="fas fa-info-circle" aria-hidden="true"></span>Details</button> 
    </form>  
  </section>
  <section class="image-details-description">  
  <h4>Image details description</h4> 
  
    <!-- starts image info -->
    <h5 class="image-description-heading">&rarr; Image</h5>
    <p class="image-description-name"><span class="fas fa-link" aria-hidden="true"></span><a href="https://viagemeturismo.abril.com.br/cidades/lisboa-4/"> Lisboa: melhor época, hotéis, restaurantes, passeios e mais | Viagem e Turismo</a></p>
    <p class="image-description-url"><span class="fas fa-link" aria-hidden="true"></span><a href="https://viagemeturismo.abril.com.br/cidades/lisboa-4/"> viagemeturismo.abril.com.br/cidades/lisboa-4/</a></p>
    <p class="image-description-date"><span class="far fa-calendar" aria-hidden="true"></span> 12 March at 00:15 - 2021.</p>
    <!-- ends image info-->

    <!--starts image page info -->
    <h5 class="image-description-heading">&rarr; Page</h5>
    <p class="image-description-url"><span class="fas fa-link" aria-hidden="true"></span><a href="https://viagemeturismo.abril.com.br/cidades/lisboa-4/"> viagemeturismo.abril.com.br/cidades/lisboa-4/</a></p>
    <p class="image-description-date"><span class="far fa-calendar" aria-hidden="true"></span> 12 March at 00:15 - 2021.</p>
    <!-- ends image page info-->

    <!-- Hide this information for now: starts Page details info 

    <h5 id="image-details-anchor">&rarr; Page details</h5> 
    <h5 class="image-description-heading">URL:</h5> 
    <p class="image-description-url"><span class="fas fa-link" aria-hidden="true"></span><a class="image-details-padding-right" href="https://viagemeturismo.abril.com.br/cidades/lisboa-4/">viagemeturismo.abril.com.br/cidades/lisboa-4/</a></p>
     
    <h5 class="image-description-heading">Timestamp:</h5> 
    <p class="image-description-date"><span class="far fa-clock" aria-hidden="true"></span> 4567989078994532</p>
     
    <h5 class="image-description-heading">Title:</h5>  
    <p class="image-description-date"><span class="fas fa-file-signature" aria-hidden="true"></span> Lisboa: melhor época, hotéis, restaurantes, passeios e mais | Viagem e Turismo</p>

    <!-- ends Page details info -->

    <!--starts Image details info 

    <h5>&rarr; Image details</h5> 
    <h5 class="image-description-heading">Source:</h5> 
    <p class="image-description-url"><span class="fas fa-link" aria-hidden="true"></span><a class="image-details-padding-right" href="https://viagemeturismo.abril.com.br/cidades/lisboa-4/">viagemeturismo.abril.com.br/cidades/lisboa-4/</a></p>
        
    <h5 class="image-description-heading">Timestamp:</h5> 
    <p class="image-description-date"><span class="far fa-clock" aria-hidden="true"></span> 4567989078994532</p>
        
    <h5 class="image-description-heading">Alt:</h5>  
    <p class="image-description-date"><span class="fas fa-file-signature" aria-hidden="true"></span> Lisboa: melhor época, hotéis, restaurantes, passeios e mais | Viagem e Turismo</p>
   
    <h5 class="image-description-heading">Resolution:</h5>  
    <p class="image-description-date"><span class="fas fa-desktop"></span> 500 x 400 pixels </p>

    <h5 class="image-description-heading">Mimetype:</h5>  
    <p class="image-description-date"><span class="fas fa-camera"></span> jpg</p>

    <h5 class="image-description-heading">Safe search classification:</h5>  
    <p class="image-description-date"><span class="fas fa-search" aria-hidden="true"></span> 0.999</p>

    <!-- ends Image details info -->

    <!--starts Collection details info 

    <h5 id="image-details-anchor">&rarr; Collection</h5> 
    <h5 class="image-description-heading">Name:</h5> 
    <p class="image-description-date"><span class="fas fa-book-open" aria-hidden="true"></span> Lisboa: melhor época, hotéis, restaurantes, passeios e mais | Viagem e Turismo</p>

    <!--starts Collection details info -->

  </section>
</section>
<!-- ends image modal when user clicks to see both image and image details -->

<!-- starts alerts -->
<%- include("../fragments/alert-container") -%>
<!-- ends alerts --> 
<header>  
  <!-- Include menu button -->
  <%- include("../menu/menu-button") -%>
  <!-- end include menu button -->
  <!-- Include options button -->
  <%- include("../menu/options-button") -%>
  <!-- end include options button -->
  <!-- adds logo -->
  <%- include("logo") -%>
  <!-- ends logo -->

  <!-- Include left and right nav -->
  <%- include("../menu/left_nav_menu") -%>
  <%- include("../menu/options_right_nav_menu") -%>
  <!-- starts white background top corner rounded shape -->
  <div class="background-top-curve"></div>
  <!-- ends white background top corner rounded shape -->
</header>
<!-- starts search tools section -->

<!-- starts content container -->
<section class="header-content-container">
<h3>Content container</h3>  

<section id="search-tools">
<h3>Search Tools</h3>
<!-- starts search tools input -->
<form id="search-form" action="images-search-results" method="GET">
  <h4>Search input</h4>
  <span class="search-input-button">
  <input id="submit-search-input" type="search" placeholder="Words or URL" autocapitalize="off" autocomplete="off">
  <button id="submit-search" type="submit"  aria-hidden="true" value="search mobile menu button">Search</button>
  <button id="submit-search-mobile" type="submit" class="fas fa-search" aria-hidden="true" value="search mobile menu button"></button></span>

<!-- ends search tools input -->
  
<!-- starts range slider block --> 
<%- include('../fragments/search-tools-date-slider') %>
<!-- ends range slider block -->   

</form>
<!-- starts search tools buttons -->
<section id="search-tools-buttons">
  <h4>Search Pages and Images Buttons</h4>
  <form id="search-form-pages" class="buttons" action="pages" method="get">
    <button type="submit" value="Pages">Pages</button>
  </form>
  <form id="search-form-images" class="buttons" action="images" method="get">
    <button type="submit" value="Images">Images</button>
  </form>
  <form id="search-form-advanced" class="buttons" action="pages-advanced-search" method="get">
    <button type="submit" value="Advanced Search">Advanced Search</button>
  </form>
</section>
<!-- ends search tools buttons -->
</section>
<!-- ends search tools section -->
</section>
<!-- ends content container -->