<!doctype html>
<html lang="<%- getLanguage() %>">
    
    <head>
    <!-- starts global document: <head>...</head> -->
    <%- include("../templates/head",{pagename: 'notfound'}) -%>
    <!-- ends global document: <head>...</head> -->
    <link rel="stylesheet" type="text/css" href="/css/styles-arquivo-404.css" media="screen">
    </head>

    <!-- starts document body content -->
    <body id="arquivo-404" class="arquivo-404-cl">

        <!-- starts skip to main content -->
        <%- include("../templates/fragments/skip-to-main-content") -%>
        <!-- ends skip to main content -->

        <!-- starts 404 main content -->
        <script>
        function initArquivo404(){
            ARQUIVO_NOT_FOUND_404
                .message(<%- "'" + t('arquivo-404.arquivo404-message') + "'" %>)
                .messageElementId('arquivo404-message')
                .url('https://andremourao.com/courses')
                .call();
        }
        </script>
        <script type="text/javascript" src="https://arquivo.pt/arquivo404.js" async defer onload="initArquivo404()"></script>

        <main> 
            <a id="logo-arquivo-link" href="/"><img id="logo-arquivo" src="/img/logoFace.png" alt="Arquivo.pt"></a>
            <h3><%= t('arquivo-404.page-not-found') %></h3>
            <p><%= t('arquivo-404.apology') %></p>
            <a href="<%- t('arquivo-404.report.href') %>"><%= t('arquivo-404.report.text') %></a>
            <a href="<%- t('arquivo-404.return.href') %>"><%= t('arquivo-404.return.text') %></a>
            <div id="arquivo404-message" style="margin-top: 4px;"></div>
        </main>
        <!-- ends 404 main content -->

    </body>
    <!-- ends document body content -->

</html>