<!doctype html>
<html lang="<%- getLanguage() %>">
    
    <head>
    <!-- starts global document: <head>...</head> -->
    <%- include("../templates/head") -%>
    <!-- ends global document: <head>...</head> -->
    </head>

    <!-- starts document body content -->
    <body id="homepage" class="homepage-cl">

        <!-- starts skip to main content -->
        <%- include("../templates/fragments/skip-to-main-content") -%>
        <!-- ends skip to main content -->
        
            <!-- adds headers for search engines -->
            <%- include("../templates/header/header-search-engine") -%>
            <!-- ends headers for search engines -->

            <!-- starts include header home -->
            <%- include("../templates/header/header-home") -%>
            <!-- ends include header home -->

            <!-- starts main container-->
            <main id="main-content">

                <!-- starts include body home -->
                <%- include("../templates/body/body-home") -%>
                <!-- ends include body home -->

            </main>
            <!-- ends main container-->

            <!-- starts footer -->
            <%- include("../templates/footer") -%>
            <!-- ends footer -->   

    </body>
    <!-- ends document body content -->
    
</html>