<!doctype html>
<html lang="<%- getLanguage() %>">

    <head>
    <!-- starts global document: <head>...</head> -->
    <%- include("../templates/head") -%>
    <!-- ends global document: <head>...</head> -->
    </head>

    <!-- starts document body content -->
    <body id="images-advanced-search" class="images-advanced-search-cl"> 

           <!-- starts skip to main content -->
           <%- include("../templates/fragments/skip-to-main-content") -%>
           <!-- ends skip to main content -->

           <!-- adds headers for search engines -->
           <%- include("../templates/header/header-search-engine") -%>
           <!-- ends headers for search engines -->
       
           <!-- starts include header pages advanced search -->     
           <%- include("../templates/header/header-pages-advanced-search") -%>
           <!-- ends include header --> 

            <!-- starts main container--> 
            <main id="main-content">      

                <!-- starts include body images advanced search -->     
                <%- include("../templates/body/body-images-advanced-search") -%>
                <!-- ends include body images advanced search -->         

            </main>
            <!-- ends main container-->

            <!-- starts footer -->
            <%- include("../templates/footer") -%>
            <!-- ends footer -->

    </body>
    <!-- ends document body content -->
</html>