<!doctype html>
<html lang="<%- getLanguage() %>">

    <head>
        <!-- starts global document: <head>...</head> -->
        <%- include("../templates/head",{pagename: 'images', meta:{ query: requestData.get('q')} }) -%>
        <!-- ends global document: <head>...</head> -->
        
        <!-- starts styling for search results -->
        <link rel="stylesheet" type="text/css" href="/css/styles-search-results.css" media="screen">
        <!-- ends styling for search results -->

        <!-- starts js for query annotations -->
        <script src="/js/annotate.js"></script>
        <!-- ends js for query annotations -->

        <!-- starts logic for exporting -->
        <script src="/js/exports.js"></script>
        <!-- ends logic for exporting -->

        <!-- starts css for image modal -->
        <link rel="stylesheet" type="text/css" href="/css/modal-image-details.css" media="screen">
        <!-- ends css for image modal -->
    </head>

    <!-- starts document body content -->
    <body id="images-search-results" class="images-search-results-cl">  

            <!-- starts skip to main content -->
            <%- include("../templates/fragments/skip-to-main-content") -%>
            <!-- ends skip to main content -->
            
            <!-- adds headers for search engines -->
            <%- include("../templates/header/header-search-engine") -%>
            <!-- ends headers for search engines -->

            <!-- starts include header images search results -->  
            <%- include("../templates/header/header-pages-search-results",{searchType: 'images'}) -%>
            <!-- ends include header images search results  --> 

            <!-- starts main container--> 
            <main id="main-content">

                <!-- starts include body images search results -->     
                <%- include("../templates/body/body-images-search-results") -%>
                <!-- ends include body images search results -->  

            </main>
            <!-- ends main container-->

            <!-- starts footer -->
            <%- include("../templates/footer") -%>

    </body>
    <!-- ends document body content -->
</html>