<!doctype html>
<html lang="<%- getLanguage() %>">
    <!-- starts global document: <head>...</head> -->
    <%- include("../templates/head") -%>
    <!-- ends global document: <head>...</head> -->

    <!-- starts document body content -->
    <body id="pages-advanced-search" class="pages-advanced-search-cl"> 

        <!-- adds headers for search engines -->
        <%- include("../templates/header/header-search-engine") -%>
        <!-- ends headers for search engines -->

        <!-- starts wrap-all-content -->
        <section class="wrap-all-content">
            <h3>All content </h3>
        
            <!-- starts include header images advanced search -->     
            <%- include("../templates/header/header-images-advanced-search") -%>
            <!-- ends include header images advanced search --> 

            <!-- starts main container--> 
            <main id="main-content">      

                <!-- starts include body images advanced search -->     
                <%- include("../templates/body/body-images-advanced-search") -%>
                <!-- ends include body images advanced search -->         

            </main>
            <!-- ends main container-->

            <!-- starts footer -->
            <%- include("../templates/footer") -%>
            <!-- ends footer -->
        
        </section class="wrap-all-content">
        <!-- ends wrap-all-content -->
        
    </body>
    <!-- ends document body content -->
</html>