<!doctype html>
<html lang="<%- getLanguage() %>">
    
    <!-- starts document <head>...</head> -->
    <%- include("../templates/head") -%>
    <!-- ends document <head>...</head> -->

    <!-- starts document body content -->
    <body id="not-found" class="not-found-cl">

        <!-- adds headers for search engines -->
        <%- include("../templates/header/header-search-engine") -%>
        <!-- ends headers for search engines -->
        
       <section class="wrap-all-content">            
            <h3>All content</h3><h3>All content </h3>
       
            <!-- starts include header not found -->
            <%- include("../templates/header/header-not-found") -%>
            <!-- ends include header not found -->

            <!-- starts main container-->
            <main id="main-content">

                <!-- starts include body not found -->
                <%- include("../templates/body/body-not-found") -%>
                <!-- ends include body not found -->

            </main>
            <!-- ends main container-->

            <!-- starts footer -->
            <%- include("../templates/footer") -%>
            <!-- ends footer -->
        
        </section>
        <!-- ends wrap-all-content -->

    </body>
    <!-- ends document body content -->
</html>