<!doctype html>
<html lang="<%- getLanguage() %>">

    <!-- starts global document: <head>...</head> -->
    <%- include("../templates/head") -%>
    <!-- ends global document: <head>...</head> -->

    <!-- starts document body content -->
    <body id="landing-pages" class="landing-pages-cl"> 

        <!-- adds headers for search engines -->
        <%- include("../templates/header/header-search-engine") -%>
        <!-- ends headers for search engines -->        

        <!-- starts wrap-all-content -->
        <section class="wrap-all-content">
        
            <!-- starts include header pages -->     
            <%- include("../templates/header/header-pages") -%>
            <!-- ends include header pages --> 

            <!-- starts main container--> 
            <main class="main-content">    

                <!-- starts include body pages -->     
                <%- include("../templates/body/body-pages") -%>
                <!-- ends include body pages -->        

            </main>
            <!-- ends main container-->

            <!-- starts footer -->
            <%- include("../templates/footer") -%>
            <!-- ends footer --> 

        </section>
        <!-- ends wrap-all-content -->

    </body>
    <!-- ends document body content -->

</html>