<!doctype html>
<html lang="en-GB">

    <!-- starts global document: <head>...</head> -->
    <%- include("../templates/head") -%>
    <!-- ends global document: <head>...</head> -->

    <!-- starts document body content -->
    <body id="pages-search-results" class="pages-search-results-cl">  

        <!-- adds headers for search engines -->
        <%- include("../templates/header/header-search-engine") -%>
        <!-- ends headers for search engines -->
        
        <!-- starts wrap-all-content -->
        <section class="wrap-all-content">
        
            <!-- starts include header pages search results -->     
            <%- include("../templates/header/header-pages-search-results") -%>
            <!-- ends include header pages search results --> 

            <!-- starts main container--> 
            <main class="main-content">      

                <!-- starts include body pages search results -->     
                <%- include("../templates/body/body-pages-search-results") -%>
                <!-- ends include body pages search results -->    

            </main>
            <!-- ends main container-->
            
            <!-- starts footer -->
            <%- include("../templates/footer") -%>
            <!-- ends footer --> 

        </section>
        <!-- ends wrap-all-content -->

    </body>
    <!-- ends document body content -->

</html>
