<!doctype html>
<html lang="<%- getLanguage() %>">
    
    <!-- starts document <head>...</head> -->
    <%- include("../templates/head") -%>
    <!-- ends document <head>...</head> -->

    <!-- starts document body content -->
    <body id="landing-replay" class="landing-replay-cl"> 

        <!-- adds headers for search engines -->
        <%- include("../templates/header/header-search-engine") -%>
        <!-- ends headers for search engines -->
        
        <!-- starts wrap-all-content -->
        <section class="wrap-all-content"><h3>All content </h3>

            <!-- starts include header replay -->     
            <%- include("../templates/header/header-replay") -%>
            <!-- ends include header replay --> 

            <!-- starts main container--> 
            <main id="main-content">    

                <!-- starts include body replay -->     
                <%- include("../templates/body/body-replay") -%>
                <!-- ends include body replay -->      

            </main>
            <!-- ends main container-->
        
        </section>
        <!-- ends wrap-all-content -->

    </body>
    <!-- ends document body content -->

</html>