<!doctype html>
<html lang="<%- getLanguage() %>">
    
    <!-- starts document <head>...</head> -->
    <%- include("../templates/head") -%>
    <!-- ends document <head>...</head> -->

    <!-- starts document body content -->
    <body id="search-suggestion" class="search-suggestion-cl">

        <!-- adds headers for search engines -->
        <%- include("../templates/header/header-search-engine") -%>
        <!-- ends headers for search engines -->

        <!-- starts include header -->
        <%- include("../templates/header/header-search-suggestion") -%>
        <!-- ends include header -->

        <!-- starts main container-->
        <main id="main-content">

            <!-- starts include home content -->
            <%- include("../templates/body/body-search-suggestion") -%>
            <!-- ends include home content -->

        </main>
        <!-- ends main container-->

        <!-- starts footer -->
        <%- include("../templates/footer") -%>
        <!-- ends footer -->

    </body>
    <!-- ends document body content -->
</html>