<!DOCTYPE html>
<html lang="<%- getLanguage() %>">
    
  <head>
  <!-- starts global document: <head>...</head> -->
  <%- include("../templates/head", {pagename:'savepagenow'}) -%>
  <!-- ends global document: <head>...</head> -->
  <link rel="stylesheet" type="text/css" href="/css/styles-save-page-now.css" media="screen">
  <script src="/js/dynamic-header-url.js"></script>

  </head>

<body id="save-page-now-landing">
<header>  
   <!-- starts left, right and replay menus overlay modal -->
   <%- include("../templates/fragments/menus-overlay.ejs") -%>
   <!-- ends left, right and replay menus overlay modal -->
        
  <!-- starts SavePageNow image -->
  <div class="left">
    <span class="fa fa-video-camera save-page-now-icon" aria-hidden="true"></span>
    <img id="logo-save-page-now" class="image-width" src="/img/SavePageNow.svg" alt="save page now"><p><%= t('services-savepagenow.recorder.label') %></p>
  </div>
  <!-- ends SavePageNow image -->
  
  <!-- starts Arquivo.pt logo -->
  <div>
      <a id="logo-arquivo-link" href="/">
          <img id="logo-arquivo" src="/img/arquivo-logo-white.svg" alt="Arquivo.pt">
      </a>  
      <div>
        <a id="headerUrl" class="headerUrl" target="_blank" href="<%= liveUrl %>" title="<%= liveUrl %>"><%= liveUrl %></a>
      </div>
  </div>
  <!-- ends Arquivo.pt logo -->  
  
  <!-- starts recording animation -->
  <div class="right">
  <div  id="pulsing-section">
      <div class="pulse"></div>
      <p id="colorchange"><%= t('services-savepagenow.recorder.saving') %></p>         
  </div>
  <!-- ends recording animation -->

  <!-- stars save page now button --> 
   <button id="nav-options-right-button" class="button" onclick="$('#modal').modal({escapeClose: false, clickClose: false, showClose: false });" value="top navigation right menu options button"><span class="button-title"><%= t('services-savepagenow.recorder.stop') %></span></button> 
  <!-- ends save page now button -->  
 </div>
</header>
  <div id="iframe_div">
    <iframe name="replay_iframe" id="replay_iframe" src="<%- url %>" seamless="seamless" frameborder="0" scrolling="yes" class="wb_iframe noprint" target="_parent">
    </iframe>

  </div>

  <!-- stars save page now modal pop-up message -->
  <div id="modal" style="display:none">
    <section id="savepagenow-modal">
      <h3><%= t('services-savepagenow.recorder.popup.accessibility') %></h3>
      <span class="fa fa-video-camera save-page-now-icon" aria-hidden="true"></span><img id="logo-save-page-now-modal" class="image-width" src="/img/SavePageNow-blue.svg" alt="SavePageNow">
      <h4 id="save-page-now-slogan"><%= t('services-savepagenow.recorder.popup.slogan') %></h4>

      <p><%= t('services-savepagenow.recorder.popup.text') %></p>
      <p style="word-break: break-all; margin-top: 5px;"><a id="recording-url" href="<%- recordingUrl %>" target="_blank"><%= recordingUrl %></a></p>
      <form action="/services/savepagenow">
        <button type="button" id="copyUrl" onclick="navigator.clipboard.writeText($('#recording-url').attr('href'))"><span class="fas fa-copy" aria-hidden="true"></span>&nbsp;<%= t('menu.copy-link.text') %></button>
        <button type="submit"><%= t('services-savepagenow.recorder.popup.button') %></button>
        <input type="hidden" name="l" value="<%- getLanguage() %>">
      </form>
    </section>
  </div>
 <!-- ends save page now modal pop-up message -->
</body>
</html>