<!doctype html>
<html lang="<%- getLanguage() %>">
    
    <!-- starts document <head>...</head> -->
    <%- include("../templates/head") -%>
    <!-- ends document <head>...</head> -->

    <!-- starts document body content -->
    <body id="save-page-now" class="homepage-cl">

        <!-- starts skip to main content -->
        <%- include("../templates/fragments/skip-to-main-content") -%>
        <!-- ends skip to main content -->
        
            <!-- adds headers for search engines -->
            <%- include("../templates/header/header-search-engine") -%>
            <!-- ends headers for search engines -->

            <!-- starts include header home -->
            <header>
                 <!-- starts left, right and replay menus overlay modal -->
            <%- include("../templates/fragments/menus-overlay.ejs") -%>
    <!-- ends left, right and replay menus overlay modal -->
            <!-- Include menu button -->
            <%- include("../templates/menu/menu-button") -%>
            <!-- end include menu button -->

            <!-- adds logo -->
            <%- include("../templates/header/logo") -%>
            <!-- ends logo -->

            <!-- Include left nav -->
            <%- include("../templates/menu/left_nav_menu") -%>
            <!-- ends left nav -->

            <!-- starts white background top corner rounded shape -->
            <div class="background-top-curve"></div>
            <!-- ends white background top corner rounded shape -->
            </header>
            <!-- ends header -->

            <!-- starts main container-->
            <main id="main-content">
                <section id="home-content" class="home-content-cl">    
                    <h3><%= t('services-savepagenow.form.accessibility') %></h3>
                    <img id="logo-save-page-now" class="image-width" src="/img/SavePageNow-blue.svg" alt="SavePageNow">
                    <h4 id="save-page-now-slogan"><%= t('services-savepagenow.form.text') %></h4>
                
                    <section id="search-tools">
                    <form id="search-form" role="form" action="/services/savepagenow?l=<%= getLanguage() %>" method="POST">
                    <span class="search-input-button">
                        <input id="submit-search-input" type="search" placeholder="<%= t('services-savepagenow.form.label') %>" autocapitalize="off" autocomplete="off" autofocus onmouseout="removeSearchBoxShadow()" name="url" aria-label="<%= t('services-savepagenow.form.label') %>" value="<%- url %>">
                        <button id="submit-search" type="submit" value="search mobile menu button"><%= t('services-savepagenow.form.button') %></button>
                        <button id="submit-search-mobile" type="submit" class="fas fa-search" value="search mobile menu button"></button>
                    </span>
                    
                </form>
                <% if (typeof error != 'undefined' && error){ %>
                <p id="save-page-url-message-error"><%= t('services-savepagenow.form.error.'+errorType) %></p>
                <% } else { %>
                <small style="font-size: small; color: #a7a5a5; margin-top:5px; margin-left: 13px;" id="savepagenow-example"><%= t('services-savepagenow.form.example') %></small>
                <% } %>
            </section>
                </section>
            </main>
            <!-- ends main container-->

            <!-- starts footer -->
            <%- include("../templates/footer") -%>
            <!-- ends footer -->   

    </body>
    <!-- ends document body content -->
    
</html>