<!DOCTYPE html>
<html lang="<%- getLanguage() %>">
    
  <head>
  <!-- starts global document: <head>...</head> -->
  <%- include("../templates/head") -%>
  <!-- ends global document: <head>...</head> -->
  </head>

<body id="save-page-now-landing">
  
  <link rel="stylesheet" type="text/css" href="/css/styles-save-page-now.css" media="screen">
<!-- Overwriting pywb set_state function in order to properly update our toolbar when iframe changes-->
<header>  
   <!-- starts left, right and replay menus overlay modal -->
   <%- include("../templates/fragments/menus-overlay.ejs") -%>
   <!-- ends left, right and replay menus overlay modal -->
        
  <!-- starts SavePageNow image -->
  <div class="left">
      <img id="logo-save-page-now" class="image-width" src="/img/SavePageNow.svg" alt="save page now"><p><%= t('services-savepagenow.recorder.label') %></p>
  </div>
  <!-- ends SavePageNow image -->
  
  <!-- starts Arquivo.pt logo -->
  <div>
      <a id="logo-arquivo-link" href="/">
      <img id="logo-arquivo" src="/img/arquivo-logo-white.svg" alt="Arquivo.pt">
      </a>  
  </div>
  <!-- ends Arquivo.pt logo -->  
  
  <!-- starts recording animation -->
  <div class="right">
  <div  id="pulsing-section">
      <div class="pulse"></div>
      <p id="colorchange"><%= t('services-savepagenow.recorder.saving') %></p>         
  </div>
  <!-- ends recording animation -->

  <!-- stars save page now button --> 
   <button id="nav-options-right-button" class="button" onclick="$('#modal').modal({escapeClose: false, clickClose: false, showClose: false });" value="top navigation right menu options button"><%= t('services-savepagenow.recorder.stop') %></button> 
  <!-- ends save page now button -->  
 </div>
</header>
  <div id="iframe_div">
    <iframe name="replay_iframe" id="replay_iframe" src="<%- url %>" seamless="seamless" frameborder="0" scrolling="yes" class="wb_iframe noprint" target="_parent" style="overflow:hidden;height: 100vh;width: 100%;max-width: 100%;max-height: 100%;
      padding-top: 48px;">
    </iframe>

  </div>

  <!-- stars save page now modal pop-up message -->
  <div id="modal">
    <section id="savepagenow-modal">
      <h3><%= t('services-savepagenow.recorder.popup.accessibility') %></h3>
      <img id="logo-save-page-now-modal" class="image-width" src="/img/SavePageNow-blue.svg" alt="SavePageNow">
      <h4 id="save-page-now-slogan"><%= t('services-savepagenow.recorder.popup.slogan') %></h4>

      <p><%= t('services-savepagenow.recorder.popup.text') %></p>
      <form action="/services/savepagenow">
        <button type="submit"><%= t('services-savepagenow.recorder.popup.button') %></button>
        <input type="hidden" name="l" value="<%- getLanguage() %>">
      </form>
    </section>
  </div>
 <!-- ends save page now modal pop-up message -->
</body>
</html>