<!doctype html>
<html lang="<%- getLanguage() %>">
    
    <!-- starts document <head>...</head> -->
    <%- include("../templates/head") -%>
    <!-- ends document <head>...</head> -->

    <!-- starts document body content -->
    <body id="save-page-now" class="homepage-cl">

        <!-- starts skip to main content -->
        <%- include("../templates/fragments/skip-to-main-content") -%>
        <!-- ends skip to main content -->
        
            <!-- adds headers for search engines -->
            <%- include("../templates/header/header-search-engine") -%>
            <!-- ends headers for search engines -->

            <!-- starts include header home -->
            <header>
            <!-- Include menu button -->
            <%- include("../templates/menu/menu-button") -%>
            <!-- end include menu button -->

            <!-- adds logo -->
            <%- include("../templates/header/logo") -%>
            <!-- ends logo -->

            <!-- Include left nav -->
            <%- include("../templates/menu/left_nav_menu") -%>
            <!-- ends left nav -->

            <!-- starts white background top corner rounded shape -->
            <div class="background-top-curve"></div>
            <!-- ends white background top corner rounded shape -->
            </header>
            <!-- ends header -->

            <!-- starts main container-->
            <main id="main-content">
                <section id="home-content" class="home-content-cl" style="margin-top: 100px;">    
                    <h3>Highlighted</h3>
                    <img id="logo-save-page-now" class="image-width" src="/img/SavePageNow-blue.svg" alt="save page now">
                    <h4>Grava Páginas da net</h4>
                
                    <section id="search-tools">
                    <form id="search-form" role="form" action="/services/savepagenow/save" method="GET">
                    <span class="search-input-button">
                        <input id="submit-search-input" type="search" placeholder="URL" autocapitalize="off" autocomplete="off" autofocus onmouseout="removeSearchBoxShadow()" name="url" aria-label="URL" value="">
                        <button id="submit-search" type="submit" value="search mobile menu button">Gravar Página</button>
                        <button id="submit-search-mobile" type="submit" class="fas fa-search" value="search mobile menu button"></button>
                        <input type="hidden" name="l" value="<%= getLanguage() %>">
                    </span>
                </form>
                <p id="save-page-url-message-error">Endereço não encontrado. Por favor insira um URL válido</p>
            </section>
                </section>
            </main>
            <!-- ends main container-->

            <!-- starts footer -->
            <%- include("../templates/footer") -%>
            <!-- ends footer -->   

    </body>
    <!-- ends document body content -->
    
</html>