<li class="image-card" id="image-card-<%- imageData.index %>" data-index="<%- imageData.index %>" data-tstamp="<%= imageData.imgTstamp %>" data-url="<%= imageData.imgSrc %>"> 
    <form style="display: none;" id="search-result-form-<%= imageData.index %>" action="/image/view/<%- requestData.get('trackingId') %>_<%= imageData.index %>/<%= imageData.imgTstamp %>/<%= encodeURIComponent(imageData.imgSrc) %>"></form>
    <ul>
        <li><a href="#modal" rel="modal:open" class="zoom-image fas fa-search-plus" aria-hidden="true"></a></li>
        <li><a href="#modal" rel="modal:open" class="results-image"><img src="<%= imageData.imgLinkToArchive %>" title="<%= imageData.imgTitle && imageData.imgTitle[0] %>" alt="<%= imageData.imgAlt && imageData.imgAlt[0] %>"></a></li>
        <li><li><a href="javascript:void(0)" class="results-url" title="<%= imageData.pageURL %>">→ <%= imageData.pageURL %></a></li>
        <li><p class="results-date"><%= utils.timestampToText(t).medium(imageData.imgTstamp) %></p></li>
    </ul>  
    <div class="image-data" style="display:none"><%= JSON.stringify(imageData); %></div>          
</li>      