<% if(typeof action=='undefined' ){ action="" } %>
<% if(typeof onloadmessage=='undefined' ){ onloadmessage="" }
   else if (typeof onloadmessage=='object' ) { onloadmessage = JSON.stringify(onloadmessage); } %>
<section id="loading-section" onloadmessage="<%= onloadmessage %>">
    <h3>
        <%= t('preloader.accessibility.title') %>
    </h3>
    <form id="loading-form" action="<%= action %>">
        <%- include("../fragments/hidden-search-inputs") -%>

        <% if(typeof params !=='undefined' ) { 
            Object.keys(params).forEach( name => {
                const value = params[name];
                %><input type="hidden" name="<%= name %>" value="<%= value %>"><%
            }); 
        } %>
            <button id="loading-results" type="submit" value="loading results" aria-hidden="true">
                <%= t('preloader.accessibility.button') %>
            </button>
    </form>
    <%- include("../fragments/preloader") -%>
</section>