<% 
let configType = 'text';
let event = 'Full-text search';
if (typeof searchType !== 'undefined' && searchType == 'images') { 
    configType = 'image';
    event = 'Image search mobile';
} %>

<% let newRequestData = new URLSearchParams(typeof requestData != 'undefined' ? requestData : {}); %>
<% let currentOffset= parseInt(newRequestData.get('offset') ?? 0); %>
<% let maxItems= parseInt(newRequestData.get('maxItems') ?? config.get(configType +'.results.per.page')); %>
<% let currentPage= Math.ceil(currentOffset/maxItems)+1; %>

<section class="navigation-tools">
    <h3><%= t('navigation.pagination.accessibility.title') %></h3>
    <% if (currentOffset > 0) { %>
    <form action="?">
        <% newRequestData.set('offset', Math.max(currentOffset-maxItems,0) ); %>
        <%- include('hidden-search-inputs',{requestData: newRequestData}) %>
        <button type="submit" class="previous-page" aria-hidden="true" value="previous page" onclick="ga('send', 'event', '<%= event %>', 'Previous page', document.location.href );">
            &larr; <%= t('navigation.pagination.previous')%>
        </button>
    </form>
    <% }  else { %>
    <div class="alignment-div" style="display: flex;flex-direction: row;flex-wrap: wrap;margin: 0;padding: 0; width: 1px;"></div>
    <% } %>
    <!-- <p><%= t('navigation.pagination.page') %> <%= currentPage %></p> -->
    <% if (currentOffset + maxItems < estimatedResults ) { %>
    <form action="?">
        <% newRequestData.set('offset',currentOffset+maxItems); %>
        <%- include('hidden-search-inputs',{requestData: newRequestData}) %>
        <button type="submit" class="next-page" aria-hidden="true" value="next page" onclick="ga('send', 'event', '<%= event %>', 'Next page', document.location.href );">
            <%= t('navigation.pagination.next')%> &rarr;
        </button>
    </form>
    <% } %>
</section>