<% if (typeof pageData != 'undefined'){ %>
    <% const httpRegEx = /https?:\/\/(.*?)\/?$/; %>
    <% const filteredURL = httpRegEx.test(pageData.originalURL) ? pageData.originalURL.replace(httpRegEx,'$1') : pageData.originalURL %>
    <% const resultTitle = pageData.title == '' ? pageData.originalURL : pageData.title; //falta por em bold os termos da pesquisa %>
    <% const year = pageData.tstamp.slice(0,4); %>
    <% const month = t('common.months.'+pageData.tstamp.slice(4,6)); %>
    <% const day = pageData.tstamp.slice(6,8); %>
    <% const dedupField = requestData.get('dedupField') ?? 'site' %>
    <% const subResult = dedupField == 'site' && pageData.originalURL == prevUrl; %>
    <% const query = requestData.get('q'); %>
    
    <% const siteRegEx = /(^|\s)site:/; %>
    <% const newRequestData = new URLSearchParams(typeof requestData != 'undefined' ? requestData : {}); %>

    
    <ul class="<%= subResult ? 'sub-results' : ''%>" onclick="ga('send', 'event', 'Search result', 'Page search', 'Result position', <%= index+1 %>); window.location='replay'"><% //linkToArchive encriptado? ver java %>
        <li><a class="results-url blockUrl" title="<%= filteredURL %>"><%- subResult? '&rarrhk;' : '&rarr;' %> <%= filteredURL %></a></li>
        <li><a class="results-title blockUrl"><%= resultTitle %></a></li>
        <li><p class="results-date"><%= day %> <%= month %>, <%= year %></p></li>
        <li><a href="replay" class="results-summary blockUrl"><p><%- pageData.snippet %></p></a></li>
        <% if (subResult && !siteRegEx.test(query) ) { %> 
        <li>
            <form id="pages-search-results-list" action="page/search">
                <% const site = filteredURL.split('/')[0] %>
                <% newRequestData.set('q',query + ' site:'+site) %>
                <% newRequestData.set('dedupField','url') %>
                <% const maxItems = newRequestData.get('maxItems') ?? config.get('text.results.per.page') %>
                <% newRequestData.set('maxItems', Math.min(2000, 10 * maxItems ) )%>
                <% newRequestData.set('offset', 0 )%>
                <%- include('hidden-search-inputs',{requestData:newRequestData}) %>
                <button type="submit" value="View more results of <%= site %>"> &rarr; View more results of <%= site %></button>
            </form>
        </li>
        <% } %>
    </ul>
    
<% } %>