<% 
let customSearchRequestData = new URLSearchParams(); 
if(typeof requestData != 'undefined'){
    customSearchRequestData = new URLSearchParams(requestData); 
    const urlPattern = /^\s*((https?:\/\/)?([a-zA-Z\d][-\w\.]+)\.([a-zA-Z\.]{2,6})([-\/\w\p{L}\.~,;:%&=?+$#*\(?\)?]*)*\/?)\s*$/;
    if(requestData.has('q') && urlPattern.test(requestData.get('q'))){
        customSearchRequestData.set('q','site:'+requestData.get('q'));
    } 
} 
%>
<section id="search-tools-buttons">
    <h4><%= t('home.search-tools.accessibility.search-tools-buttons') %></h4>
    <form id="search-form-pages" role="search for pages" class="buttons" action="/page/search" method="get">
        <%- include('hidden-search-inputs', {requestData:customSearchRequestData}) %>
        <button type="submit" value="Pages"><%= t('home.search-tools.pages') %></button>
    </form>
    <form id="search-form-images" role="search for images" class="buttons" action="/image/search" method="get">
        <%- include('hidden-search-inputs', {requestData:customSearchRequestData}) %>
        <button type="submit" value="Images"><%= t('home.search-tools.images') %></button>
    </form>
    <form id="search-form-advanced" role="advanced search for pages" class="buttons" action="/<%= searchType.slice(0,-1) %>/advanced/search" method="get">
        <%- include('hidden-search-inputs') %>
        <button type="submit" value="Advanced Search"><%= t('home.search-tools.advanced-search') %></button>
    </form>
</section>