<section id="search-tools-date-slider">
    <h4>Search Date Slider</h4>

    <!-- starts range slider container -->
    <section id="slider-range-container">
        <h4>Slider Date Calendars</h4>

        <!-- starts left calendar icon -->
        <ul id="date-container-start">
            <li class="search-calendar-year">
                <span type="text" id="start-year" class="calendar-year-input call-datepicker-start-year">1996</span>
            </li>
            <li class="search-calendar-day-month">
                <span id="start-day-month" class="calendar-day-month-input">01 <%= t('common.shortMonths.01') %></span>
            </li>
        </ul>
        <input type="hidden" name="dateStart" id="start-date" value="01/01/1996">
        <!-- ends left calendar icon -->

        <!-- starts slider handles -->
        <div id="slider-range"></div>
        <!-- ends slider handles -->

        <!-- starts right calendar icon -->

        <% let currentDate = new Date() %>
        <ul id="date-container-end">
            <li class="search-calendar-year">
                <span type="text" id="end-year" class="calendar-year-input call-datepicker-start-year"><%= currentDate.getFullYear() %></span>
            </li>
            <li class="search-calendar-day-month">
                <span id="end-day-month" class="calendar-day-month-input">
                    <%= ('0'+currentDate.getDate()).slice(-2) %> <%= t('common.shortMonths.'+('0'+(currentDate.getMonth()+1)).slice(-2)) %>
                </span>

            </li>
            
        </ul>
        <input type="hidden" name="dateEnd" id="end-date" value="<%= currentDate.toLocaleDateString('pt-PT') %>">
        <!-- ends right calendar icon -->

    </section>
    <!-- ends range slider container --> 

</section>