<% 
let suggestionRequestData = new URLSearchParams()

if(typeof requestData != 'undefined'){ 
    suggestionRequestData = new URLSearchParams(requestData);
 }
 
 suggestionRequestData.set('q',suggestion)
 %> 
<section id="search-suggestion-container" class="search-suggestion-container-cl">
    <h3><%= t('search-suggestion.accessibility.title') %></h3>    
    <!-- starts suggestion message --> 
    <section id="search-suggestion-message">
     <h4><%= t('search-suggestion.accessibility.message') %></h4> 
     <p id="term-suggested" >&rarr; <%= t('search-suggestion.did-you-mean') %> <a href="/page/search?<%- suggestionRequestData.toString() %>"><%= suggestion %></a></p>
    </section> 
    <!-- ends suggestion message -->

</section>