<% 
let customSearchRequestData = new URLSearchParams(); 
let narrativeRequestData = new URLSearchParams();
narrativeRequestData.set('lang',getLanguage()); 
narrativeRequestData.set('query',''); 
if(typeof requestData != 'undefined'){
    customSearchRequestData = new URLSearchParams(requestData); 
    if(requestData.has('q') && utils.isValidUrl(requestData.get('q'))){
        customSearchRequestData.set('q','site:'+requestData.get('q'));
    } 
} 
%>
<section id="search-tools-buttons">
    <h4><%= t('home.search-tools.accessibility.search-tools-buttons') %></h4>
    <form id="search-form-pages" role="search for pages" class="search-type buttons" action="/page/search" method="get">
        <button type="submit" value="Pages"><%= t('home.search-tools.pages') %></button>
    </form>
    <form id="search-form-images" role="search for images" class="search-type buttons" action="/image/search" method="get">
        <button type="submit" value="Images"><%= t('home.search-tools.images') %></button>
    </form>
<% if(config.get('webapp.showContameHistoriasButton')) { %>
    <button id="search-tools-narrative-button" class="buttons"><%= t('home.search-tools.narrative') %></button>
<% } %>
    <form id="search-form-advanced" role="advanced search for pages" class="search-type buttons" action="/<%= searchType.slice(0,-1) %>/advanced/search" method="get">
        <button type="submit" value="Advanced Search"><%= t('home.search-tools.advanced-search') %></button>
    </form>
</section>
<% if(config.get('webapp.showContameHistoriasButton')) { %>
<section id="confirm-narrative-modal" class="modal" style="display: none;">
    <h3>Janela de confirmação</h3>
    <ul class="replay-options">
        <li>
            <p><%= t('home.search-tools.narrative-popup') %></p>
        </li>
        
        <li><form id="search-form-narrative" role="search for narratives" class="buttons" action="<%- config.get('contame.historias.search.url') %>" method="get">
            <%- include('hidden-search-inputs', {requestData:narrativeRequestData}) %>
            <button type="submit"><%= t('wayback.popups.buttons.ok') %></button>
        </form></li>
        <li><a href="#" rel="modal:close"><button class="cancel"><%= t('wayback.popups.buttons.cancel') %></button></a></li>
    </ul>
    <a href="#close-modal" rel="modal:close" class="close-modal ">Close</a>
    <script>
        $('#search-tools-narrative-button').click(() => {
            $('#search-form-narrative input[name=query]').val($('#submit-search-input').val());
            gtag("event", 'contameHistorias', {
                "type": 'Pressed', 
                "query": $('#submit-search-input').val() || '<empty>' 
            } );
            $('#confirm-narrative-modal').modal();
        });
        $('#search-form-narrative').submit(function (e) {
            if($('#search-form-narrative input[name=query]').val() == ''){
                $('#search-form-narrative input[name=query]').remove();
                $('#search-form-narrative').attr('action',"<%- config.get('contame.historias.url') %>");
            }
            gtag("event", 'contameHistorias', {
                "type": 'Searched', 
                "query": $('#submit-search-input').val() || '<empty>' 
            } );
            return true;
        });

        $('form.search-type').submit(function (e) {
            $(e.target).find('input').remove();
            $('<input>').attr({
                type: 'hidden',
                name: 'q',
                value: $('#submit-search-input').val()
            }).appendTo(e.target);
            $('<input>').attr({
                type: 'hidden',
                name: 'from',
                value: $('#start-date').val()
            }).appendTo(e.target);
            $('<input>').attr({
                type: 'hidden',
                name: 'to',
                value: $('#end-date').val()
            }).appendTo(e.target);
            return true;
        });
    </script>
</section>
<% } %>