<section id="search-tools-date-slider">
    <h4>Search Date Slider</h4>

    <!-- starts range slider container -->
    <section id="slider-range-container">
        <h4>Slider Date Calendars</h4>

        <!-- starts left calendar icon -->
        <ul id="date-container-start">
            <li class="search-calendar-year">
                <input type="text" id="start-year" class="call-datepicker-start-year calendar-year-input"
                    value="1996" readonly>
            </li>
            <li class="search-calendar-day-month">
                <input type="text" id="start-day-month" class="calendar-day-month-input" value="01 <%= t('common.shortMonths.01') %>"
                    readonly>
            </li>
        </ul>
        <input type="hidden" name="dateStart" id="start-date" value="01/01/1996">
        <!-- ends left calendar icon -->

        <!-- starts slider handles -->
        <div id="slider-range"></div>
        <!-- ends slider handles -->

        <!-- starts right calendar icon -->

        <% let currentDate = new Date() %>
        <ul id="date-container-end">
            <li class="search-calendar-year">
                <input type="text" id="end-year" class="call-datepicker-end-year calendar-year-input"
                    value="<%= currentDate.getFullYear() %>" readonly>
            </li>
            <li class="search-calendar-day-month">
                <input type="text" id="end-day-month" class="call-datepicker calendar-day-month-input"
                    value="<%= ('0'+currentDate.getDate()).slice(-2) %> <%= t('common.shortMonths.'+('0'+(currentDate.getMonth()+1)).slice(-2)) %>" readonly>
            </li>
            
        </ul>
        <input type="hidden" name="dateEnd" id="end-date" value="<%= currentDate.toLocaleDateString('pt-PT') %>">
        <!-- ends right calendar icon -->

    </section>
    <!-- ends range slider container --> 

</section>