<% let startDate = new Date(1996,0,1) %>
<% let endDate = new Date() %>
<% let boundDates = function(min, date, max){
    if(date < min) {return min;}
    if(date > max) {return max;}
    return date;
} %>
<% //Get start & end dates from request parameters when available %>
<% if(typeof requestData != 'undefined'){ %>
    <% if(requestData.has('from')){ %>
        <% let from = requestData.get('from') %>
        <% startDate = boundDates(startDate,new Date(from.slice(0,4),from.slice(4,6)-1,from.slice(6,8)),endDate); %>
    <% } %>
    <% if(requestData.has('to')){ %>
        <% let to = requestData.get('to'); %>
        <% endDate = boundDates(startDate,new Date(to.slice(0,4),to.slice(4,6)-1,to.slice(6,8)),endDate); %>
    <% } %>

<% } %>

<section id="search-tools-date-slider">
    <h4>Search Date Slider</h4>

    <!-- starts range slider container -->
    <section id="slider-range-container">
        <h4>Slider Date Calendars</h4>

        <!-- starts left calendar icon -->
        <ul id="date-container-start">
            <li class="search-calendar-year">
                <input type="text" id="start-year" class="call-datepicker-start-year calendar-year-input"
                    value="<%= startDate.getFullYear() %>" readonly aria-label="Choose your starting year">
            </li>
            <li class="search-calendar-day-month">
                <input type="text" id="start-day-month" class="calendar-day-month-input" value="<%= ('0'+startDate.getDate()).slice(-2) %> <%= t('common.shortMonths.'+('0'+(startDate.getMonth()+1)).slice(-2)) %>"
                    readonly  aria-label="Choose your starting day and month">
            </li>
        </ul>
        <input type="hidden" name="from" id="start-date" value="<%= startDate.toLocaleDateString('en-CA').replaceAll('-','') %>">
        <!-- ends left calendar icon -->

        <!-- starts slider handles -->
        <div id="slider-range"></div>
        <!-- ends slider handles -->

        <!-- starts right calendar icon -->
        
        <ul id="date-container-end">
            <li class="search-calendar-year">
                <input type="text" id="end-year" class="call-datepicker-end-year calendar-year-input"
                    value="<%= endDate.getFullYear() %>" readonly aria-label="Choose your ending year">
            </li>
            <li class="search-calendar-day-month">
                <input type="text" id="end-day-month" class="call-datepicker calendar-day-month-input"
                    value="<%= ('0'+endDate.getDate()).slice(-2) %> <%= t('common.shortMonths.'+('0'+(endDate.getMonth()+1)).slice(-2)) %>" readonly aria-label="Choose your ending day and month">
            </li>
            
        </ul>
        <input type="hidden" name="to" id="end-date" value="<%= endDate.toLocaleDateString('en-CA').replaceAll('-','') %>">
        <!-- ends right calendar icon -->

    </section>
    <!-- ends range slider container --> 

</section>